<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <span class="text-subtitle-1 font-weight-bold"
                  >Datos del usuario</span
                >
                <v-divider></v-divider>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="creatureData.user.username"
                  label="Nombre de Usuario"
                  :rules="textField"
                  :disabled="!isCreate"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  :disabled="!isCreate"
                  v-model="creatureData.user.firstName"
                  label="Nombre"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  :disabled="!isCreate"
                  v-model="creatureData.user.lastName"
                  label="Apellido"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :disabled="!isCreate"
                  v-model="creatureData.user.email"
                  label="Correo Electrónico"
                  :rules="emailField"
                ></v-text-field>
              </v-col>
              <v-col v-if="isCreate" cols="12">
                <v-text-field
                  v-model="creatureData.user.password"
                  :append-icon="iconPassword"
                  :rules="psaswordField"
                  :type="typePassword"
                  label="Contraseña"
                  hint="Debe tener 8 o más carácteres"
                  counter
                  @click:append="showPassword"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <span class="text-subtitle-1 font-weight-bold"
                  >Datos de la Criatura</span
                >
                <v-divider></v-divider>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="creatureData.description"
                  label="Descripción"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="creatureData.category.id"
                  :items="categoriesList"
                  item-text="name"
                  item-value="id"
                  label="Categorias"
                  :rules="textField"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <h3>Seleccione un avatar</h3>
                <v-card
                  v-if="imgSelect != null"
                  class="pa-4 mx-auto"
                  height="200"
                  width="200"
                >
                  <v-row class="fill-height" align="center" justify="center">
                    <v-scale-transition>
                      <v-img :src="images[imgSelect]"></v-img>
                    </v-scale-transition>
                  </v-row>
                </v-card>
                <v-sheet class="mx-auto" max-width="100%">
                  <v-slide-group
                    v-model="imgSelect"
                    class="pa-4"
                    active-class="success"
                    show-arrows
                  >
                    <v-slide-item
                      v-for="(img, index) in images"
                      :key="index"
                      v-slot="{ active, toggle }"
                    >
                      <v-card
                        :color="active ? undefined : 'white lighten-1'"
                        class="ma-4 pa-4"
                        height="100"
                        width="100"
                        @click="toggle"
                      >
                        <v-row
                          class="fill-height"
                          align="center"
                          justify="center"
                        >
                          <v-scale-transition>
                            <v-img :src="img"></v-img>
                          </v-scale-transition>
                        </v-row>
                      </v-card>
                    </v-slide-item>
                  </v-slide-group>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card></v-form
    >
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Creature, Category } from '@/types';
import { ValidationService } from '@/services';
import { UserType } from '@/enums';

export default Vue.extend({
  name: 'CreatureModal',

  data: () => ({
    dialogData: false,
    isPassword: true,
    images: [
      'https://i.ibb.co/fvvPGk9/creature1.png',
      'https://i.ibb.co/zQMw82f/creature2.png',
      'https://i.ibb.co/gzFHLZM/creature3.png',
      'https://i.ibb.co/nQPSKct/creature4.png',
      'https://i.ibb.co/KbHkk5t/creature5.png',
      'https://i.ibb.co/P6CTLkz/creature6.png',
      'https://i.ibb.co/YLXstsc/creature7.png',
      'https://i.ibb.co/C5srHtt/creature8.png',
      'https://i.ibb.co/ykGBBfb/creature9.png',
    ],
    imgSelect: 0,
    creatureData: {
      id: 0,
      description: '',
      life: 0,
      avatar: '',
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        type: UserType.Creature,
        isActive: true,
      },
      category: {
        id: 0,
        name: '',
        description: '',
      } as Category,
    } as Creature,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    creature: {
      type: Object,
      default: {} as Creature,
    },
    categoriesList: {
      default: Array as () => Array<Category>,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.requiredField, ValidationService.emailField];
    },
    psaswordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    creature(val: Creature) {
      this.creatureData = val;
      if (this.creatureData.category === null) {
        this.creatureData.category = {} as Category;
      }
      this.imgSelect = this.images.indexOf(this.creatureData.avatar);
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    showPassword() {
      this.isPassword = !this.isPassword;
    },
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.creatureData.avatar =
          this.imgSelect === null ? '' : this.images[this.imgSelect];
        this.imgSelect === -1 ? '' : this.images[this.imgSelect];
        this.$emit('save', this.creatureData);
      }
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
  },
});
</script>
