<template v-slot:top>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="taskData.status"
                  :items="statusReportTypeSelect"
                  label="Estatus"
                  :rules="textField"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Item, WizardResource, ReportResource, Task } from '@/types';
import {
  StatusReportType,
  ReportType,
  ClassificationReportType,
} from '@/enums';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'StatusModal',

  data: () => ({
    dialogData: false,
    solution: '',
    errorMessage: '',
    errorField: false,
    statusReportTypeSelect: [
      { text: 'Pendiente', value: StatusReportType.Pending },
      { text: 'Proceso', value: StatusReportType.Process },
      { text: 'Pruebas', value: StatusReportType.Tests },
      { text: 'Procesado', value: StatusReportType.Processed },
    ] as Array<Item>,
    taskData: {
      id: 0,
      name: '',
      description: '',
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      status: '',
      wizard: {
        id: '',
        username: '',
        roleId: 0,
        creatureId: 0,
        score: 0,
      } as WizardResource,
      report: {
        id: '',
        date: '',
        assignedAt: '',
        endsAt: '',
        deliveryAt: '',
        solution: '',
        type: ReportType.GetBetter,
        description: '',
        image: '',
        classificationReport: ClassificationReportType.Low,
        status: StatusReportType.Pending,
        collectorId: 0,
        creatureVersionId: 0,
        subMissionId: 0,
        wizardId: 0,
      } as ReportResource,
    } as Task,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    task: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    task(val: Task) {
      this.taskData = val;
    },
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.taskData);
      }
    },
  },
});
</script>
