<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="taskData.name"
                  label="Nombre de la Tarea"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="taskData.description"
                  label="Descripción"
                  :rules="textField"
                  clear-icon="mdi-close-circle"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu1"
                  v-model="menu1"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="taskData.date"
                      label="Fecha"
                      v-bind="attrs"
                      v-on="on"
                      :rules="textField"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="taskData.date"
                    no-title
                    @input="menu1 = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>

              <v-col cols="12">
                <v-select
                  v-if="isSupreme"
                  v-model="taskData.wizard.id"
                  :items="wizardList"
                  item-text="user.username"
                  item-value="id"
                  label="Wizard"
                  :rules="textField"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="taskData.report.id"
                  :items="reportList"
                  item-text="description"
                  item-value="id"
                  label="Reportes"
                  :rules="textField"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { ValidationService } from '@/services';
import { ReportResource, WizardResource, Report, Task, Wizard } from '@/types';
import {
  ReportType,
  ClassificationReportType,
  StatusReportType,
} from '@/enums';
export default Vue.extend({
  name: 'TaskModal',
  data: () => ({
    dialogData: false,
    menu: false,
    menu1: false,
    taskData: {
      id: 0,
      name: '',
      description: '',
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      status: '',
      wizard: {
        id: '',
        username: '',
        roleId: 0,
        creatureId: 0,
        score: 0,
      } as WizardResource,
      report: {
        id: '',
        date: '',
        assignedAt: '',
        endsAt: '',
        deliveryAt: '',
        solution: '',
        type: ReportType.GetBetter,
        description: '',
        image: '',
        classificationReport: ClassificationReportType.Low,
        status: StatusReportType.Pending,
        collectorId: 0,
        creatureVersionId: 0,
        subMissionId: 0,
        wizardId: 0,
      } as ReportResource,
    } as Task,
  }),

  props: {
    dialog: {
      type: Boolean,
      default: false,
    },

    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    task: {
      type: Object,
      default: {} as Task,
    },
    wizardList: {
      type: Array,
      default: Array as () => Array<Wizard>,
    },
    reportList: {
      default: Array as () => Array<Report>,
    },
    isSupreme: {
      type: Boolean,
      default: false,
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    task(val: Task) {
      this.taskData = val;
    },
  },

  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.taskData);
      }
    },

    formatDate(date: any): any {
      if (!date) return null;

      const [year, month, day] = date.split('-');
      return `${day}/${month}/${year}`;
    },
  },
});
</script>

<style></style>
