<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="creatureVersionData.name"
                  label="Nombre de la criatura"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="creatureVersionData.url"
                  label="URL"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col v-if="isAdmin && isCreate" cols="12">
                <v-select
                  v-model="creatureVersionData.creature.id"
                  :items="creaturesList"
                  item-text="user.username"
                  item-value="id"
                  label="Criatura"
                  :rules="textField"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>
<script lang="ts">
import Vue from 'vue';
import { CreatureVersion, Creature, CreatureResource } from '@/types';
import { ValidationService } from '@/services';
export default Vue.extend({
  name: 'CreatureVersionModal',
  data: () => ({
    dialogData: false,
    creatureVersionData: {
      id: 0,
      name: '',
      url: '',
      isActive: true,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as CreatureVersion,
  }),

  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    creatureVersion: {
      type: Object,
      default: {} as CreatureVersion,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    creaturesList: {
      type: Array,
      default: Array as () => Array<Creature>,
    },
    creaturesVersionsList: {
      default: Array as () => Array<CreatureVersion>,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    creatureVersion(val: CreatureVersion) {
      this.creatureVersionData = val;
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.creatureVersionData);
      }
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
  },
});
</script>

<style></style>
