<template>
  <v-card class="pa-2 rounded-lg" outlined tile max-width="350">
    <v-row justify="center">
      <v-col cols="12" class="d-flex flex-column align-center my-3">
        <v-avatar v-if="RolSup()" size="200">
          <img src="@/assets/magoSup.png" />
        </v-avatar>
        <v-avatar v-if="RolAprendiz()" size="130">
          <img src="@/assets/magoNormal.png" />
        </v-avatar>
        <v-avatar v-if="RolMago()" size="150">
          <img src="@/assets/magoMedio.png" />
        </v-avatar>
        <v-avatar v-if="RolSabio()" size="130">
          <img src="@/assets/magoPro.png" />
        </v-avatar>
        <v-avatar v-if="isCreature()" size="200">
          <img src="@/assets/Ogro.png" />
        </v-avatar>
        <v-avatar v-if="isAdmin()" size="250">
          <img src="@/assets/creature.png" />
        </v-avatar>
      </v-col>
      <v-row justify="center">
        <v-col cols="10" class="d-flex flex-column justify-center">
          <v-divider></v-divider>
          <h2 class="text-center my-2 mx-2 primary--text">
            {{ currentUser.username }}
          </h2>
          <h3 v-if="isWizard()" class="text-center my-2 mx-2 primary--text">
            Rol: {{ currentWizard.role.name }}
          </h3>
        </v-col>
      </v-row>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import { UserType } from '@/enums';
import Vue from 'vue';

export default Vue.extend({
  name: 'CardProfile',
  data: () => ({
    avatar: '',
  }),
  props: {
    currentUser: {
      type: Object,
    },
    currentWizard: {
      type: Object,
    },
  },
  methods: {
    isCreature(): boolean {
      return this.currentUser.type === UserType.Creature;
    },
    isWizard(): boolean {
      return this.currentUser.type === UserType.Wizard;
    },
    isAdmin(): boolean {
      return this.currentUser.type === UserType.Administrator;
    },
    istypeRol(state: number) {
      switch (state) {
        case 1:
          return this.currentWizard.role.name === 'Supremo';
        case 2:
          return this.currentWizard.role.name === 'Aprendiz';
        case 3:
          return this.currentWizard.role.name === 'Mago';
        case 4:
          return this.currentWizard.role.name === 'Archi-Sabio';
      }
    },
    RolSup(): boolean | undefined {
      return this.isWizard() && this.istypeRol(1);
    },
    RolAprendiz(): boolean | undefined {
      return this.isWizard() && this.istypeRol(2);
    },
    RolMago(): boolean | undefined {
      return this.isWizard() && this.istypeRol(3);
    },
    RolSabio(): boolean | undefined {
      return this.isWizard() && this.istypeRol(4);
    },
  },
});
</script>
