<template>
  <v-card class="pa-2 text-h5 mb-6 text-center rounded-lg" outlined tile>
    <v-row class="d-flex">
      <v-col class="d-flex" cols="12">
        <v-avatar class="d-flex mx-3 my-2" size="100" color="primary" rounded>
          <v-icon size="45" dark> mdi-account-details </v-icon>
        </v-avatar>
        <h3 v-if="isAdmin()" class="mx-4 my-8">Administrator</h3>
        <h3 v-if="isWizard() && isWizardRol()" class="mx-4 my-8">
          Mago Supremo
        </h3>
        <h3 v-else-if="isWizard()" class="mx-4 my-8">Mago</h3>
        <h3 v-if="isCreature()" class="mx-4 my-8">Criatura</h3>
        <h3 class="mx-4 my-8">Edita tu Perfil</h3>
      </v-col>
    </v-row>
    <v-form ref="form" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="userData.username"
              label="Username"
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="userData.email"
              :rules="emailField"
              label="Correo"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="end" class="pa-3">
          <v-col cols="12" md="6">
            <v-text-field
              v-model="userData.firstName"
              :rules="textField"
              :counter="20"
              label="Nombre"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="userData.lastName"
              :rules="textField"
              :counter="20"
              label="Apellido"
              required
            ></v-text-field>
          </v-col>
          <v-col v-if="isWizard()" class="d-flex justify-center" cols="12">
            <h4>Puntuación</h4>
          </v-col>
          <v-col v-if="isWizard()" class="d-flex justify-center" cols="12">
            <v-img max-height="40" max-width="50" src="@/assets/coin.png" />
            <h3 class="my-1 mx-1">{{ currentWizard.score }}</h3>
          </v-col>
          <v-col v-if="isCreature()" cols="12" md="6">
            <v-textarea
              v-model="creatureData.description"
              label="Descripción"
              outlined
            ></v-textarea>
          </v-col>
          <v-col
            v-if="isCreature()"
            class="d-flex justify-center align-center"
            cols="12"
            md="6"
          >
            <v-img max-height="60" max-width="60" src="@/assets/corazon.svg" />
            <h4 class="my-1 mx-1">{{ currentCreature.life }} Salud</h4>
          </v-col>
          <v-btn
            class="my-5 mx-3"
            color="deep-purple accent-1"
            @click="handleDialog"
            >Cambiar Contraseña</v-btn
          >
          <v-btn class="my-5" color="primary" @click="save"
            >Guardar Cambios</v-btn
          >
        </v-row>
      </v-container>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import { Creature, UpdatePassword, User } from '@/types';
import { ValidationService } from '@/services';
import Vue from 'vue';
import { UserType } from '@/enums';

export default Vue.extend({
  name: 'FormProfile',
  data: () => ({
    userData: {} as User,
    updatePassword: {} as UpdatePassword,
    creatureData: {} as Creature,
    isPassword: true,
    dialog: false,
  }),

  props: {
    dialogP: {
      type: Boolean,
    },
    currentUser: {
      type: Object,
    },
    currentWizard: {
      type: Object,
    },
    currentCreature: {
      type: Object,
    },
    admin: {
      type: Object,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.emailField];
    },
    passwordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },

  created() {
    this.userData = this.currentUser;
    this.creatureData = this.currentCreature;
  },
  methods: {
    handleDialog() {
      this.$emit('openDialogPassword', true);
    },
    close() {
      this.dialog = false;
    },
    savePassword() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('savePassword', this.updatePassword);
      }
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.userData);
      }
    },
    showPassword() {
      this.isPassword = !this.isPassword;
    },
    isCreature(): boolean {
      return this.currentUser.type === UserType.Creature;
    },
    isWizard(): boolean {
      return this.currentUser.type === UserType.Wizard;
    },
    isAdmin(): boolean {
      return this.currentUser.type === UserType.Administrator;
    },
    isWizardRol(): boolean {
      return this.currentWizard.role.name === 'Supremo';
    },
  },
});
</script>
