<template>
  <v-card class="pa-2 text-h5 mb-6 text-center rounded-lg" outlined tile>
    <v-row class="d-flex">
      <v-col class="d-flex">
        <v-avatar class="d-flex mx-3 my-2" size="100" color="primary" rounded>
          <v-icon size="50" dark> mdi-account-circle </v-icon>
        </v-avatar>
        <h3 class="mx-4 my-8">Wizard</h3>
        <h3 class="mx-4 my-8">Edita tu Perfil - Completa tu perfil</h3>
      </v-col>
    </v-row>
    <v-form v-model="valid">
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="currentUser.firstname"
              :rules="nameRules"
              :counter="10"
              label="Username"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="currentUser.lastname"
              :rules="emailRules"
              :counter="10"
              label="Email Address"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="end" class="pa-3">
          <v-col cols="12" md="6">
            <v-text-field
              v-model="currentUser.firstname"
              :rules="nameRules"
              :counter="10"
              label="First name"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="currentUser.lastname"
              :rules="nameRules"
              :counter="10"
              label="Last name"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="currentUser.firstName"
              :rules="nameRules"
              :counter="10"
              label="Creature"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="currentUser.username"
              :rules="nameRules"
              :counter="10"
              label="Points"
            ></v-text-field>
          </v-col>
          <v-btn class="my-5">UPDATE PROFILE</v-btn>
        </v-row>
      </v-container>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { Wizard, User, Role, CreatureResource } from '@/types';
import { WizardRepository } from '@/repositories';
import { UserType } from '@/enums';
export default Vue.extend({
  name: 'FormProfileWizard',
  data: () => ({
    model: 'Foobar',
    wizards: [] as Array<Wizard>,
    wizard: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: false,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: false,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
    defaultWizard: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: false,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: false,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
  }),
  props: {
    currentUser: {
      type: Object,
    },
  },

  created() {
    console.log(this.currentUser);
  },

  methods: {
    async getWizardByUsername(username: string) {
      await WizardRepository.getByUsername(username);
    },
  },
});
</script>
