<template>
  <v-card class="pa-2 text-h5 mb-6 text-center rounded-lg" outlined tile>
    <v-row class="d-flex">
      <v-col class="d-flex" cols="12">
        <v-avatar class="d-flex mx-3 my-2" size="100" color="primary" rounded>
          <v-icon size="50" dark> mdi-account-circle </v-icon>
        </v-avatar>
        <h3 class="mx-4 my-8">Creature</h3>
        <h3 class="mx-4 my-8">Edita tu Perfil</h3>
      </v-col>
    </v-row>
    <v-form ref="form" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-textarea
              v-model="userData.description"
              label="Descripción"
              outlined
            ></v-textarea>
          </v-col>
          <v-col class="d-flex justify-center" cols="12" md="6">
            <h3 class="mx-3">Vida</h3>
            <v-img max-height="80" max-width="80" src="@/assets/corazon.svg" />
          </v-col>
        </v-row>
        <v-row justify="end" class="pa-3">
          <v-btn class="my-5" color="primary" @click="save"
            >Guardar Cambios</v-btn
          >
        </v-row>
      </v-container>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import { Creature } from '@/types';
import { ValidationService } from '@/services';
import Vue from 'vue';

export default Vue.extend({
  name: 'FormProfileCreature',
  data: () => ({
    value: 50,

    userData: {} as Creature,
  }),

  props: {
    currentUser: {
      type: Object,
    },
    creature: {
      type: Object,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.emailField];
    },
  },
  created() {
    this.userData = this.currentUser;
  },
  methods: {
    save() {
      console.log(this.userData);
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.userData);
      }
    },
  },
});
</script>
<style></style>
