<template>
  <v-dialog
    v-model="dialogData"
    max-width="500px"
    persistent
    class="d-flex justify-center"
  >
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2 text-center">Cambio de Contraseña</span>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="updatePassword.currentPassword"
                label="Contraseña Actual"
                :rules="requiredField"
                :append-icon="iconPasswordActually"
                :type="typePasswordActually"
                counter
                @click:append="showPasswordActually"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="updatePassword.newPassword"
                label="Nueva Contraseña"
                hint="Debe tener 8 o más carácteres"
                :rules="psaswordField"
                :append-icon="iconPasswordNew"
                :type="typePasswordNew"
                counter
                @click:append="showPasswordNew"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="updatePassword.confirmPassword"
                label="Confirmar Contraseña"
                :rules="samePsaswordField"
                :append-icon="iconPasswordConfirm"
                :type="typePasswordConfirm"
                counter
                @click:append="showPasswordConfirm"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="primary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { UpdatePassword } from '@/types';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'UpdatePassword',

  data: () => ({
    dialogData: false,
    isPasswordActually: true,
    isPasswordNew: true,
    isPasswordConfirm: true,
    updatePassword: {} as UpdatePassword,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    psaswordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    samePsaswordField() {
      return [
        ValidationService.requiredField,
        ValidationService.samePasswordField(
          this.updatePassword.newPassword,
          this.updatePassword.confirmPassword
        ),
      ];
    },
    requiredField() {
      return [ValidationService.requiredField];
    },
    typePasswordActually() {
      if (this.isPasswordActually) {
        return 'password';
      }
      return 'text';
    },
    typePasswordNew() {
      if (this.isPasswordNew) {
        return 'password';
      }
      return 'text';
    },
    typePasswordConfirm() {
      if (this.isPasswordConfirm) {
        return 'password';
      }
      return 'text';
    },
    iconPasswordActually() {
      if (this.isPasswordActually) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
    iconPasswordNew() {
      if (this.isPasswordNew) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
    iconPasswordConfirm() {
      if (this.isPasswordConfirm) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (!val) {
        this.clearData();
      }
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    showPasswordActually() {
      this.isPasswordActually = !this.isPasswordActually;
    },
    showPasswordNew() {
      this.isPasswordNew = !this.isPasswordNew;
    },
    showPasswordConfirm() {
      this.isPasswordConfirm = !this.isPasswordConfirm;
    },
    close() {
      this.$emit('close');
      this.clearData();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.updatePassword);
      }
    },
    clearData() {
      (this.$refs.form as HTMLFormElement).reset();
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
  },
});
</script>
