<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="gathererData.user.username"
                  label="Nombre de Usuario"
                  :disabled="!isCreate"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="gathererData.user.firstName"
                  :disabled="!isCreate"
                  label="Nombre"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :disabled="!isCreate"
                  v-model="gathererData.user.lastName"
                  label="Apellido"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :disabled="!isCreate"
                  v-model="gathererData.user.email"
                  label="Correo Electrónico"
                  :rules="emailField"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="isCreate">
                <v-text-field
                  v-model="gathererData.user.password"
                  :append-icon="iconPassword"
                  :rules="psaswordField"
                  :type="typePassword"
                  label="Contraseña"
                  hint="Debe tener 8 o más carácteres"
                  counter
                  @click:append="showPassword"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="gathererData.score"
                  label="Puntaje"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="gathererData.stars"
                  label="Estrellas"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Gatherer } from '@/types';
import { ValidationService } from '@/services';
import { UserType } from '@/enums';

export default Vue.extend({
  name: 'GathererModal',

  data: () => ({
    dialogData: false,
    isPassword: true,
    gathererData: {
      id: 0,
      score: 0,
      stars: 0,
      avatar: '',
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        type: UserType.Gatherer,
        isActive: true,
      },
    } as Gatherer,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    gatherer: {
      type: Object,
      default: {} as Gatherer,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.requiredField, ValidationService.emailField];
    },
    psaswordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    gatherer(val: Gatherer) {
      this.gathererData = val;
    },
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.gathererData);
      }
    },
    showPassword() {
      this.isPassword = !this.isPassword;
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
  },
});
</script>
