<template v-slot:top>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="missionTaskData.name"
                  label="Nombre"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="missionTaskData.description"
                  label="Descripción"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="missionTaskData.score"
                  label="Score"
                  :rules="textField"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { MissionTask, Mission, MissionResource } from '@/types';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'ReportModal',

  data: () => ({
    dialogData: false,
    missionsSelectForcreaturesVersions: [] as Array<Mission>,
    missionTaskData: {
      id: 0,
      name: '',
      description: '',
      score: 0,
      mission: {
        id: 0,
        creatureVersionId: 0,
        name: '',
        description: '',
        isActive: false,
      } as MissionResource,
    } as MissionTask,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    missionTask: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
    missionsList: {
      default: Array as () => Array<Mission>,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    missionTask(val: MissionTask) {
      this.missionTaskData = val;
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.missionTaskData);
        (this.$refs.form as HTMLFormElement).resetValidation();
      }
    },
  },
});
</script>
