<template>
  <div class="cart-wrapper">
    <apexchart type="pie" width="380" :options="chartOptions" :series="datos">
    </apexchart>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ChartsReport',
  props: {
    datos: {
      type: Array,
    },
  },
  data: () => ({
    chartOptions: {
      labels: ['Mago Aprendiz', 'Mago Archi-sabio', 'Mago Supremo', 'Mago'],
      responsive: [
        {
          breakpoint: 600,
          options: {
            chart: {
              width: '100%',
            },
            legend: {
              position: 'bottom',
            },
          },
        },
      ],
    },
  }),
});
</script>
