<template>
  <div id="chart" class="cart-wrapper">
    <div class="card">
      <apexchart
        type="bar"
        height="350"
        :options="chartOptions"
        :series="datos"
      ></apexchart>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ChartsReport',
  props: {
    datos: {
      type: Array,
    },
  },
  data: () => ({
    chartOptions: {
      chart: {
        height: 350,
        type: 'bar',
      },
      colors: ['#00cae3', '#4caf50'],
      plotOptions: {
        bar: {
          columnWidth: '50%',
          distributed: true,
        },
      },
      dataLabels: {
        enabled: true,
      },
      legend: {
        show: false,
      },
      xaxis: {
        categories: [
          ['Errores', ''],
          ['Mejoras', ''],
        ],
        labels: {
          style: {
            fontSize: '20px',
          },
        },
      },
    },
  }),
});
</script>
