<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row> </v-row>
          </v-container>
        </v-card-text>
        <v-col cols="12">
          <v-select
            v-model="wizardData.role"
            :items="rolesList"
            item-text="name"
            return-object
            label="Rol"
            :rules="textField"
          ></v-select>
        </v-col>
        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import { UserType } from '@/enums';
import { ValidationService } from '@/services';
import { CreatureResource, Role, User, Wizard } from '@/types';
import Vue from 'vue';
export default Vue.extend({
  name: 'RoleModal',
  data: () => ({
    dialogData: false,
    wizardData: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: true,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: true,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    wizard: {
      type: Object,
      default: {} as Wizard,
    },
    formTitle: {
      type: String,
      default: '',
    },
    rolesList: {
      type: Array,
      default: Array as () => Array<Role>,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },

    wizard(val: Wizard) {
      this.wizardData = val;
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.wizardData);
      }
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
  },
});
</script>

<style></style>
