<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="wizardData.user.username"
                  label="Nombre de Usuario"
                  :rules="textField"
                  :disabled="!isCreate"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="wizardData.user.firstName"
                  label="Nombre"
                  :disabled="!isCreate"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="wizardData.user.lastName"
                  label="Apellido"
                  :disabled="!isCreate"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="wizardData.user.email"
                  label="Correo Electrónico"
                  :rules="emailField"
                  :disabled="!isCreate"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="isCreate">
                <v-text-field
                  v-model="wizardData.user.password"
                  :append-icon="iconPassword"
                  :rules="psaswordField"
                  :type="typePassword"
                  label="Contraseña"
                  hint="Debe tener 8 o más carácteres"
                  counter
                  @click:append="showPassword"
                ></v-text-field>
              </v-col>
              <v-col v-if="isAdmin && isCreate" cols="12">
                <v-select
                  v-model="wizardData.creature.id"
                  :items="creaturesList"
                  item-text="user.username"
                  item-value="id"
                  label="Criatura"
                  :rules="textField"
                ></v-select>
              </v-col>
              <v-col v-if="isAdmin && !isCreate" cols="12">
                <v-select
                  v-model="wizardData.creature.id"
                  :items="creaturesList"
                  item-text="user.username"
                  item-value="id"
                  label="Criatura"
                  :rules="textField"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="wizardData.role.id"
                  :items="rolesList"
                  item-text="name"
                  item-value="id"
                  label="Rol"
                  :rules="textField"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card></v-form
    >
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Wizard, User, Role, Creature, CreatureResource } from '@/types';
import { ValidationService } from '@/services';
import { UserType } from '@/enums';

export default Vue.extend({
  name: 'WizardModal',

  data: () => ({
    dialogData: false,
    isPassword: true,
    wizardData: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: false,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: false,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
    defaultWizard: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: true,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: true,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    wizard: {
      type: Object,
      default: {} as Wizard,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    creaturesList: {
      type: Array,
      default: Array as () => Array<Creature>,
    },
    rolesList: {
      type: Array,
      default: Array as () => Array<Role>,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.requiredField, ValidationService.emailField];
    },
    psaswordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (!val) {
        this.clearData();
      }
    },
    wizard(val: Wizard) {
      this.wizardData = val;
    },
  },
  methods: {
    showPassword() {
      this.isPassword = !this.isPassword;
    },
    close() {
      this.$emit('close');
      this.clearData();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.wizardData);
      }
    },
    clearData() {
      (this.$refs.form as HTMLFormElement).resetValidation();
      this.wizardData = this.defaultWizard;
    },
  },
});
</script>
