<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="adminData.username"
                  label="Nombre de Usuario"
                  :rules="textField"
                  :disabled="!isCreate"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="adminData.firstName"
                  label="Nombre"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="adminData.lastName"
                  label="Apellido"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="adminData.email"
                  label="Correo electrónico"
                  :rules="emailField"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="isCreate">
                <v-text-field
                  v-model="adminData.password"
                  :append-icon="iconPassword"
                  :rules="psaswordField"
                  :type="typePassword"
                  label="Contraseña"
                  hint="Debe tener 8 o más carácteres"
                  counter
                  @click:append="showPassword"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card></v-form
    >
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Admin } from '@/types';
import { ValidationService } from '@/services';
import { UserType } from '@/enums';

export default Vue.extend({
  name: 'AdministratorModal',

  data: () => ({
    dialogData: false,
    isPassword: true,
    adminData: {
      username: '',
      firstName: '',
      lastName: '',
      email: '',
      type: UserType.Administrator,
      isActive: true,
    } as Admin,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    admin: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.requiredField, ValidationService.emailField];
    },
    psaswordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    admin(val: Admin) {
      this.adminData = val;
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement).resetValidation();
  },
  methods: {
    showPassword() {
      this.isPassword = !this.isPassword;
    },
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.adminData);
      }
    },
  },
});
</script>
