<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="categoryData.name"
                  label="Nombre"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="categoryData.description"
                  label="Descripción"
                  :rules="textField"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { ValidationService } from '@/services';
import { Category } from '@/types';
export default Vue.extend({
  name: 'CategoryModal',
  data: () => ({
    dialogData: false,
    categoryData: {
      id: 0,
      name: '',
      description: '',
    } as Category,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    category: {
      type: Object,
      default: {} as Category,
    },
    formTitle: {
      type: String,
      default: '',
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    category(val: Category) {
      this.categoryData = val;
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.categoryData);
      }
    },
  },
});
</script>
