<template>
  <v-data-table
    :headers="headers"
    :items="admins"
    item-key="username"
    sort-by="username"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.admins.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-account-circle'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Administradores</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <admin-modal
          :dialog="dialog"
          :admin="admin"
          :formTitle="formTitle"
          :isCreate="isCreate"
          @close="close"
          @save="save"
        />

        <password-modal
          :dialog="dialogoPassword"
          :username="admin.username"
          @close="close"
          @save="savePassword"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.isActive`]="{ item }">
      <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editAdmin(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="item.isActive" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            @click="deleteAdmin(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="primary"
            small
            @click="activeAdmin(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-replay
          </v-icon>
        </template>
        <span>Reactivar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="purple darken-2"
            small
            class="mr-2"
            @click="actuPasswords(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-lock-check
          </v-icon>
        </template>
        <span>Contraseña</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay datos </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import AdminModal from '@/components/admin/AdministratorModal.vue';
import PasswordModal from '@/components/auth/PasswordModal.vue';
import { AdminRepository } from '@/repositories';
import { UserRepository } from '@/repositories';
import {
  Admin,
  CreateAdmin,
  UpdateAdmin,
  OptionsFooterDataTable,
  UpdatePasswords,
  User,
} from '@/types';
import { UserType } from '@/enums';
import { ErrorWrapper } from '@/services';

export default Vue.extend({
  name: 'Admin',
  data: () => ({
    search: '',
    dialog: false,
    dialogoPassword: false,
    isCreate: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      {
        text: 'Usuario',
        align: 'start',
        value: 'username',
      },
      { text: 'Nombre', value: 'firstName' },
      { text: 'Apellido', value: 'lastName' },
      { text: 'Correo', value: 'email' },
      { text: 'Estatus', value: 'isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    adminIndex: -1,
    admins: [] as Array<Admin>,
    createAdminData: {} as CreateAdmin,
    updateAdminData: {} as UpdateAdmin,
    updatePasswordData: {} as UpdatePasswords,
    admin: {
      username: '',
      firstName: '',
      lastName: '',
      email: '',
      type: UserType.Administrator,
      isActive: true,
      password: '',
    } as Admin,
    defaultAdmin: {
      username: '',
      firstName: '',
      lastName: '',
      email: '',
      type: UserType.Administrator,
      isActive: true,
      password: '',
    } as Admin,
  }),

  components: {
    AdminModal,
    PasswordModal,
  },

  computed: {
    formTitle() {
      return this.adminIndex === -1
        ? 'Registrar Administrador'
        : 'Editar Administrador';
    },

    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.admins.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.admins.length;
      }
    },
    currentUser(): User {
      return this.$store.state.auth.user;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },

    dialogPassword(val) {
      val || this.close();
    },
  },

  created() {
    this.getAdmins();
  },

  methods: {
    async getAdmins() {
      const res = await AdminRepository.getUserType(UserType.Administrator);
      this.admins = res.data.data;
      if (this.currentUser.type === UserType.Administrator) {
        this.admins = this.admins.filter(
          (admin: Admin) => admin.username !== this.currentUser.username
        );
      }
    },

    async createAdmin(data: CreateAdmin) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await AdminRepository.createData(data);
        this.close();
        this.$swal.fire(
          '¡Registrado!',
          'Administrador registrado con exito',
          'success'
        );
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async updateAdmin(data: UpdateAdmin) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await AdminRepository.updateData(data);
        this.close();
        this.$swal.fire(
          '¡Actualizado!',
          'Administrador actualizado con exito',
          'success'
        );
        this.close();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async removeAdmin(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await AdminRepository.removeData(username);
        this.$swal.fire(
          '¡Eliminado!',
          'Administrador eliminado con exito',
          'success'
        );
        await this.getAdmins();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async activAdmin(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.activeData(username);
        this.$swal.fire(
          '¡Reactivado!',
          'Administrador a sido reactivado',
          'success'
        );
        this.getAdmins();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },
    async savePassword(data: UpdatePasswords) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.updatePasswords(data);
        this.$swal.fire(
          '¡Actualizado!',
          'La contraseña se ha Actualizado',
          'success'
        );
        this.close();
        this.getAdmins();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async save(data: Admin) {
      const { username, firstName, lastName, email, password } = data;
      if (this.adminIndex > -1) {
        this.updateAdminData = { username, firstName, lastName, email };
        await this.updateAdmin(this.updateAdminData);
      } else {
        this.createAdminData = {
          username,
          firstName,
          lastName,
          email,
          password,
        };
        await this.createAdmin(this.createAdminData);
      }
      await this.getAdmins();
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    actuPasswords(admin: Admin) {
      this.adminIndex = this.admins.indexOf(admin);
      this.admin = Object.assign({}, admin);
      this.dialogoPassword = true;
    },

    editAdmin(admin: Admin) {
      this.adminIndex = this.admins.indexOf(admin);
      this.admin = Object.assign({}, admin);
      this.dialog = true;
    },

    deleteAdmin(admin: Admin) {
      this.adminIndex = this.admins.indexOf(admin);
      this.admin = Object.assign({}, admin);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminar usuario administrador!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeAdmin(this.admin.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'El usuario administrador no se ha eliminado',
              'error'
            );
          }
        });
    },

    activeAdmin(admin: Admin) {
      this.adminIndex = this.admins.indexOf(admin);
      this.admin = Object.assign({}, admin);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Reactivaras al este administrador!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Activar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.activAdmin(this.admin.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se reactivo ningun elemento',
              'error'
            );
          }
        });
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },
    close() {
      this.dialog = false;
      this.dialogoPassword = false;
      this.isCreate = false;
      this.$nextTick(() => {
        this.admin = { ...this.defaultAdmin };
        this.adminIndex = -1;
      });
    },

    errorData(err: ErrorWrapper) {
      let message = '';
      if (err) {
        err.errors.map((err) => {
          if (err.key === 'message') {
            message = err.value;
          }
        });
      }
      return message;
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
