<template>
  <v-simple-table>
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-format-list-numbered'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Ranking de Magos</v-toolbar-title>
      </v-toolbar>
    </template>
    <template v-slot:default>
      <tbody>
        <tr>
          <th class="text-left">Posicion</th>
          <th class="text-left">Nombre Usuario</th>
          <th class="text-left">Rol</th>
          <th class="text-left">Puntuaje</th>
        </tr>
        <tr v-for="(item, index) in wizards" :key="item.name">
          <td>{{ index + 1 }}</td>
          <td>{{ item.user.username }}</td>
          <td>{{ item.role.name }}</td>
          <td>{{ item.score }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import Vue from 'vue';
import { WizardRepository } from '@/repositories';
import { Wizard } from '@/types';
export default Vue.extend({
  name: 'BoardWizard',
  data: () => ({
    headers: [
      { text: 'Posicion', value: 'user.index' },
      {
        text: 'Usuario',
        align: 'start',
        sortable: false,
        value: 'user.username',
      },
      { text: 'Rol', value: 'role.name' },
      { text: 'Puntaje', value: 'score' },
    ],
    wizards: [] as Array<Wizard>,
  }),

  created() {
    this.getWizards();
  },

  methods: {
    async getWizards() {
      const res = await WizardRepository.getAll();
      this.wizards = res.data.data;
    },
  },
});
</script>
<style scoped>
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
