<template>
  <v-data-table
    :headers="headers"
    :items="categories"
    item-key="name"
    sort-by="name"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.categories.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-shape'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Categorias</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <category-modal
          :dialog="dialog"
          :category="category"
          :formTitle="formTitle"
          @close="close"
          @save="save"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.isActive`]="{ item }">
      <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editCategory(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip bottom v-if="item.isActive">
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            @click="deleteCategory(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay datos </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import { CategoryRepository } from '@/repositories';
import {
  CreateCategory,
  Category,
  UpdateCategory,
  OptionsFooterDataTable,
} from '@/types';
import CategoryModal from '@/components/category/CategoryModal.vue';
export default Vue.extend({
  name: 'Category',
  data: () => ({
    search: '',
    dialog: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      { text: 'Nombre', align: 'start', value: 'name' },
      { text: 'Descripción', value: 'description' },
      { text: 'Estatus', value: 'isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    categories: [] as Array<Category>,
    createCategoryData: {} as CreateCategory,
    updateCategoryData: {} as UpdateCategory,
    categoryIndex: -1,
    category: {
      id: 0,
      name: '',
      description: '',
    } as Category,
    defaultCategory: {
      id: 0,
      name: '',
      description: '',
    } as Category,
  }),
  components: { CategoryModal },
  computed: {
    formTitle() {
      return this.categoryIndex === -1
        ? 'Registrar Categoria'
        : 'Editar Categoria';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.categories.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.categories.length;
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getCategories();
  },

  methods: {
    async getCategories() {
      const res = await CategoryRepository.getAll();
      this.categories = res.data.data;
    },
    async createCategory(data: CreateCategory) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CategoryRepository.createData(data);
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
    async updateCategory(data: UpdateCategory) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CategoryRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async removeCategory(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CategoryRepository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        await this.getCategories();
      } catch (error) {
        this.$swal.fire('Error!', `${error}`, 'error');
      }
    },

    async save(data: Category) {
      const { id, name, description } = data;
      if (this.categoryIndex > -1) {
        this.updateCategoryData = {
          id,
          name,
          description,
        };
        await this.updateCategory(this.updateCategoryData);
      } else {
        this.createCategoryData = {
          name,
          description,
        };
        await this.createCategory(this.createCategoryData);
      }
      this.getCategories();
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    editCategory(category: Category) {
      this.categoryIndex = this.categories.indexOf(category);
      this.category = Object.assign({}, category);
      this.dialog = true;
    },

    deleteCategory(category: Category) {
      this.categoryIndex = this.categories.indexOf(category);
      this.category = Object.assign({}, category);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeCategory(this.category.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    openDialog() {
      this.dialog = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.category = Object.assign({}, this.defaultCategory);
        this.categoryIndex = -1;
      });
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
