<template>
  <v-data-table
    :headers="headers"
    :items="creatures"
    item-key="username"
    sort-by="username"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.creatures.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-cat'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Criaturas</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <creature-modal
          :dialog="dialog"
          :creature="creature"
          :categoriesList="categories"
          :formTitle="formTitle"
          :isCreate="isCreate"
          @close="close"
          @save="save"
          @file="onFileSelected"
        />
        <password-modal
          :dialog="dialogoPassword"
          :username="creature.user.username"
          @close="close"
          @save="savePassword"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.id`]="{ item }">
      <v-icon
        color="primary"
        small
        class="mr-2"
        @click="getCreatureVersions(item.id)"
      >
        mdi-eye
      </v-icon>
    </template>
    <template v-slot:[`item.user.isActive`]="{ item }">
      <span>{{ item.user.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editCreture(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="item.user.isActive" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            @click="deleteCreature(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="primary"
            small
            @click="activeCreature(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-replay
          </v-icon>
        </template>
        <span>Reactivar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="purple darken-2"
            small
            class="mr-2"
            @click="actuPasswords(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-lock-check
          </v-icon>
        </template>
        <span>Contraseña</span>
      </v-tooltip>
    </template>

    <template v-slot:no-data>
      <span> No hay datos </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import CreatureModal from '@/components/creature/CreatureModal.vue';
import PasswordModal from '@/components/auth/PasswordModal.vue';
import {
  CreatureRepository,
  UserRepository,
  CategoryRepository,
} from '@/repositories';
import {
  Creature,
  CreateCreature,
  UpdateCreature,
  Category,
  OptionsFooterDataTable,
  UpdateAvatarCreature,
  UpdatePasswords,
  User,
} from '@/types';
import { UserType } from '@/enums';
import { ErrorWrapper } from '@/services';

export default Vue.extend({
  name: 'Creature',
  data: () => ({
    search: '',
    dialog: false,
    isCreate: false,
    dialogoPassword: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      {
        text: 'Nombre de Usuario',
        align: 'start',
        value: 'user.username',
      },
      { text: 'Descripción', value: 'description' },
      { text: 'Vida', value: 'life' },
      { text: 'Versión', value: 'user.type' },
      { text: 'Estatus', value: 'user.isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    creatureIndex: -1,
    creatureId: 0,
    creatures: [] as Array<Creature>,
    categories: [] as Array<Category>,
    createCreatureData: {} as CreateCreature,
    updateCreatureData: {} as UpdateCreature,
    selectedFile: {} as Event,
    newFile: false,
    creature: {
      id: 0,
      description: '',
      life: 0,
      avatar: '',
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        type: UserType.Creature,
        isActive: true,
      },
      category: {
        id: 0,
        name: '',
        description: '',
      } as Category,
    } as Creature,
    defaultCreature: {
      id: 0,
      description: '',
      life: 0,
      avatar: '',
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        type: UserType.Creature,
        isActive: true,
      },
      category: {
        id: 0,
        name: '',
        description: '',
      } as Category,
    } as Creature,
  }),

  components: {
    CreatureModal,
    PasswordModal,
  },

  computed: {
    formTitle() {
      return this.creatureIndex === -1
        ? 'Registrar Criatura'
        : 'Editar Criatura';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.creatures.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.creatures.length;
      }
    },
    currentUser(): User {
      return this.$store.state.auth.user;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getCreatures();
    this.getCategories();
  },

  methods: {
    async getCreatures() {
      const res = await CreatureRepository.getAll();
      this.creatures = res.data.data;
      if (this.currentUser.type === UserType.Creature) {
        this.creatures = this.creatures.filter(
          (creature: Creature) =>
            creature.user.username !== this.currentUser.username
        );
      }
    },

    async getCategories() {
      const res = await CategoryRepository.getAll();
      this.categories = res.data.data;
    },

    async getCreatureVersions(id: number) {
      console.log(id);
    },

    async createCreature(data: CreateCreature) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        const res: any = await CreatureRepository.createData(data);
        this.creatureId = res.data.data.id;
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
        this.close();
        this.getCreatures();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async updateCreature(data: UpdateCreature) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CreatureRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async updateAvatarCreature(data: UpdateAvatarCreature) {
      await CreatureRepository.updateAvatar(data);
      this.close();
    },

    async removeCreature(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.removeData(username);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        await this.getCreatures();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async activCreature(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.activeData(username);
        this.$swal.fire(
          '¡Reactivado!',
          'Criatura a sido reactivado',
          'success'
        );
        this.getCreatures();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async savePassword(data: UpdatePasswords) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.updatePasswords(data);
        this.$swal.fire(
          '¡Actualizado!',
          'La contraseña se ha Actualizado',
          'success'
        );
        this.close();
        this.getCreatures();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async save(data: Creature) {
      const { username, firstName, lastName, email, password } = data.user;
      const { id, description, life, avatar } = data;
      const categoryId = data.category?.id;
      if (this.creatureIndex > -1) {
        this.updateCreatureData = {
          id,
          description,
          life,
          categoryId,
        };
        await this.updateCreature(this.updateCreatureData);
        await this.updateAvatarCreature({
          id,
          avatar,
        } as UpdateAvatarCreature);
      } else {
        this.createCreatureData = {
          description,
          life,
          username,
          firstName,
          lastName,
          email,
          password,
          categoryId,
        };
        await this.createCreature(this.createCreatureData);
        await this.updateAvatarCreature({
          id: this.creatureId,
          avatar,
        } as UpdateAvatarCreature);
      }
      this.selectedFile = {} as Event;
      this.newFile = false;
      this.getCreatures();
    },

    onFileSelected(file: Event) {
      this.selectedFile = file;
      this.newFile = true;
    },

    editCreture(creature: Creature) {
      this.creatureIndex = this.creatures.indexOf(creature);
      this.creature = Object.assign({}, creature);
      this.dialog = true;
    },

    deleteCreature(creature: Creature) {
      this.creatureIndex = this.creatures.indexOf(creature);
      this.creature = Object.assign({}, creature);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeCreature(this.creature.user.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    activeCreature(creature: Creature) {
      this.creatureIndex = this.creatures.indexOf(creature);
      this.creature = Object.assign({}, creature);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Reactivaras al esta Criatura!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Activar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.activCreature(this.creature.user.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se reactivo ningun elemento',
              'error'
            );
          }
        });
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    actuPasswords(creature: Creature) {
      this.creatureIndex = this.creatures.indexOf(creature);
      this.creature = Object.assign({}, creature);
      this.dialogoPassword = true;
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.dialogoPassword = false;
      this.$nextTick(() => {
        this.creature = JSON.parse(JSON.stringify(this.defaultCreature));
        this.creatureIndex = -1;
      });
    },

    errorData(err: ErrorWrapper) {
      let message = '';
      if (err) {
        err.errors.map((err) => {
          if (err.key === 'message') {
            message = err.value;
          }
        });
      }
      return message;
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 150px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
