<template>
  <v-data-table
    :headers="headers"
    :items="creaturesVersion"
    item-key="id"
    sort-by="name"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.creaturesVersion.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-bee-flower'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Versiones de Criaturas</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <creature-version-modal
          :dialog="dialog"
          :formTitle="formTitle"
          :creatureVersion="creatureVersion"
          :isCreate="isCreate"
          :isAdmin="isAdmin"
          :creaturesList="creatures"
          @save="save"
          @close="close"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.isActive`]="{ item }">
      <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editCreaturesversion(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            v-if="item.isActive"
            class="ml-3"
            color="error"
            small
            @click="deleteCreatureVersion(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay Misiones </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import CreatureVersionModal from '../components/creatureVersion/creatureVersionModal.vue';
import { CreatureVersionRepository, CreatureRepository } from '@/repositories';
import {
  Creature,
  CreateCreatureVersion,
  CreatureVersion,
  OptionsFooterDataTable,
  UpdateCreatureVersion,
  CreatureResource,
} from '@/types';

export default Vue.extend({
  name: 'CreatureVersion',
  data: () => ({
    dialog: false,
    isCreate: false,
    search: '',
    selectedFile: {} as Event,
    creatureIndex: -1,
    newFile: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      { text: 'Nombre', align: 'start', value: 'name' },
      { text: 'Url', align: 'start', value: 'url' },
      { text: 'Estatus', value: 'isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    creaturesVersion: [] as Array<CreatureVersion>,
    creatures: [] as Array<Creature>,
    createCreatureVersionData: {} as CreateCreatureVersion,
    updateCreatureVersionData: {} as UpdateCreatureVersion,

    creatureVersion: {
      id: 0,
      name: '',
      url: '',
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as CreatureVersion,
    defaulCreatureVersion: {
      id: 0,
      name: '',
      url: '',
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      },
    } as CreatureVersion,
  }),

  components: {
    CreatureVersionModal,
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    isAdmin() {
      return this.$store.state.auth.isAdministrator;
    },
    formTitle() {
      return this.creatureIndex === -1
        ? 'Registrar Versión de Criatura'
        : 'Editar Versión de Criatura';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.creaturesVersion.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.creaturesVersion.length;
      }
    },
  },
  created() {
    this.getCreaturesVersions();
    if (this.isAdmin) {
      this.getCreatures();
    }
  },

  methods: {
    async getCreatures() {
      const res = await CreatureRepository.getAll();
      this.creatures = res.data.data;
    },

    async getCreaturesVersions() {
      const res = await CreatureVersionRepository.getAll();
      this.creaturesVersion = res.data.data;
    },
    async filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    async createCreature(data: CreateCreatureVersion) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CreatureVersionRepository.createData(data);
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async save(data: CreatureVersion) {
      const { id, name, url, isActive } = data;
      let creatureId;
      if (this.isAdmin) {
        creatureId = data.creature.id;
      } else {
        creatureId = this.$store.state.auth.creatureId;
      }
      if (this.creatureIndex > -1) {
        this.updateCreatureVersionData = { id, name, url };
        await this.updateCreatureVersion(this.updateCreatureVersionData);
      } else {
        this.createCreatureVersionData = {
          name,
          url,
          isActive,
          creatureId,
        };
        await this.createCreature(this.createCreatureVersionData);
      }
      this.getCreaturesVersions();
    },

    async updateCreatureVersion(data: UpdateCreatureVersion) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CreatureVersionRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    editCreaturesversion(creatureVersion: CreatureVersion) {
      this.creatureIndex = this.creaturesVersion.indexOf(creatureVersion);
      this.creatureVersion = Object.assign({}, creatureVersion);
      this.dialog = true;
      //this.isCreate = true;
    },

    async removeCreatureVersion(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await CreatureVersionRepository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        this.getCreaturesVersions();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    deleteCreatureVersion(creatureVersion: CreatureVersion) {
      this.creatureIndex = this.creaturesVersion.indexOf(creatureVersion);
      this.creatureVersion = Object.assign({}, creatureVersion);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeCreatureVersion(this.creatureVersion.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.$nextTick(() => {
        this.creatureVersion = Object.assign({}, this.defaulCreatureVersion);
        this.creatureIndex = -1;
      });
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
