<template>
  <div>
    <dashboard-admin v-if="isAdmin()" :reports="reports" :dash="dash" />
    <dashboard-creature v-if="isCreature()" :dashCreature="dash" />
    <dashboard-wizard-supremo
      v-if="isWizardSupremo()"
      :reports="reports"
      :dashSupremo="dash"
    />
    <dashboard-wizard v-if="isWizard()" :reports="reports" :dashWizard="dash" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import DashboardAdmin from '@/components/dash/DashboardAdmin.vue';
import DashboardCreature from '@/components/dash/DashboardCreature.vue';
import DashboardWizardSupremo from '@/components/dash/DashboardWizardSupremo.vue';
import DashboardWizard from '@/components/dash/DashboardWizard.vue';
import { dashboard, Report, Wizard } from '@/types';
import { UserType, WizardType } from '@/enums';
import { DashboardRepository, ReportRepository } from '@/repositories';

export default Vue.extend({
  name: 'Dashboard',
  components: {
    DashboardAdmin,
    DashboardCreature,
    DashboardWizardSupremo,
    DashboardWizard,
  },
  data: () => ({
    dash: {} as dashboard,
    reports: [] as Array<Report>,
  }),
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    currentWizard() {
      if (this.currentUser.type === UserType.Wizard) {
        return this.$store.state.auth.wizard.role;
      }
      {
        return false;
      }
    },
    isUserAdmin(): boolean {
      return this.$store.state.auth.isAdministrator;
    },
    wizard(): Wizard {
      return this.$store.state.auth.wizard;
    },
    isUserWizardSupremo(): boolean {
      return this.wizard.role?.id === WizardType.Supremo;
    },
    isUserWizard(): boolean {
      return this.wizard.user?.type === UserType.Wizard;
    },
  },
  created() {
    this.getEstadisticas();
    if (this.isUserAdmin || this.isUserWizardSupremo) {
      this.getReports();
    } else if (this.isUserWizard) {
      this.GetReportsByWizard(this.wizard.id);
    }
  },
  methods: {
    async getEstadisticas() {
      const res = await DashboardRepository.getData();
      this.dash = res.data.data;
    },
    async getReports() {
      const res = await ReportRepository.getAll();
      this.reports = res.data.data;
    },
    async GetReportsByWizard(id: string) {
      const res = await ReportRepository.getByWizard(id);
      this.reports = res.data.data;
    },

    isAdmin(): boolean {
      return this.currentUser.type === UserType.Administrator;
    },
    isCreature(): boolean {
      return this.currentUser.type === UserType.Creature;
    },
    isWizardSupremo(): boolean {
      if (this.currentWizard) {
        return this.currentWizard.id == WizardType.Supremo;
      } else {
        return false;
      }
    },
    isWizard(): boolean {
      if (this.currentWizard) {
        return this.currentWizard.id != WizardType.Supremo;
      } else {
        return false;
      }
    },
  },
});
</script>
