<template>
  <div class="full-container bg-gradient">
    <v-row class="full-container justify-center">
      <v-col cols="12" sm="6" md="5" class="pa-0 pa-sm-3 mt-sm-12">
        <forgot-password-form
          class="d-sm-none"
          :loading="loading"
          @save="restartPasswor"
        />
        <forgot-password-form
          class="d-none d-sm-block rounded-lg"
          :loading="loading"
          @save="restartPasswor"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { RestartPassword } from '@/types';
import { AuthRepository } from '@/repositories';
import ForgotPasswordForm from '@/components/auth/ForgotPasswordForm.vue';

export default Vue.extend({
  name: 'Forgot',
  data: () => ({
    loading: false,
  }),
  components: {
    ForgotPasswordForm,
  },
  computed: {},
  watch: {},
  methods: {
    async restartPasswor(data: RestartPassword) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await AuthRepository.restartPassword(data);
        this.$swal.fire(
          '¡Enviado!',
          'Te hemos enviado un correo con tu nueva contraseña',
          'success'
        );
        this.$router.push('/');
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
  },
});
</script>
<style scoped>
.full-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.content-relative {
  position: relative;
  top: 20%;
}

.bg-gradient {
  background: rgb(72, 71, 181);
  background: linear-gradient(
    180deg,
    rgba(72, 71, 181, 1) 0%,
    rgba(15, 68, 76, 1) 100%
  );
}
</style>
