<template>
  <v-data-table
    :headers="headers"
    :items="gatherers"
    item-key="username"
    sort-by="username"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.gatherers.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-account'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Recolectores</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <gatherer-modal
          :dialog="dialog"
          :gatherer="gatherer"
          :formTitle="formTitle"
          :isCreate="isCreate"
          @close="close"
          @save="save"
          @file="onFileSelected"
        />
        <password-modal
          :dialog="dialogoPassword"
          :username="gatherer.user.username"
          @close="close"
          @save="savePassword"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.user.isActive`]="{ item }">
      <span>{{ item.user.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editGatherer(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="item.user.isActive" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            @click="deleteGatherer(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="primary"
            small
            @click="activeGatherer(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-replay
          </v-icon>
        </template>
        <span>Reactivar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="purple darken-2"
            small
            class="mr-2"
            @click="actuPasswords(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-lock-check
          </v-icon>
        </template>
        <span>Contraseña</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay datos </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import GathererModal from '@/components/gatherer/GathererModal.vue';
import PasswordModal from '@/components/auth/PasswordModal.vue';
import { GathererRepository } from '@/repositories';
import { UserRepository } from '@/repositories';
import {
  Gatherer,
  CreateGatherer,
  UpdateGatherer,
  OptionsFooterDataTable,
  UpdatePasswords,
} from '@/types';
import { UserType } from '@/enums';
import { ErrorWrapper } from '@/services';

export default Vue.extend({
  name: 'Gatherer',
  data: () => ({
    search: '',
    dialog: false,
    dialogoPassword: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    isCreate: false,
    headers: [
      { text: 'Usuario', align: 'start', value: 'user.username' },
      { text: 'Nombre', value: 'user.firstName' },
      { text: 'Apellido', value: 'user.lastName' },
      { text: 'Correo', value: 'user.email' },
      { text: 'Puntaje', value: 'score' },
      { text: 'Estrellas', value: 'stars' },
      { text: 'Estatus', value: 'user.isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    gathererIndex: -1,
    gatherers: [] as Array<Gatherer>,
    createGathererData: {} as CreateGatherer,
    updateGathererData: {} as UpdateGatherer,
    selectedFile: {} as Event,
    newFile: false,
    gatherer: {
      id: 0,
      avatar: '',
      score: 0,
      stars: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        type: UserType.Gatherer,
        isActive: true,
      },
    } as Gatherer,
    defaultGatherer: {
      id: 0,
      avatar: '',
      score: 0,
      stars: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        type: UserType.Gatherer,
        isActive: true,
      },
    } as Gatherer,
  }),
  components: {
    GathererModal,
    PasswordModal,
  },

  computed: {
    formTitle() {
      return this.gathererIndex === -1
        ? 'Registrar Recolector'
        : 'Editar Recolector';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.gatherers.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.gatherers.length;
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getGatherers();
  },

  methods: {
    async getGatherers() {
      const res = await GathererRepository.getAll();
      this.gatherers = res.data.data;
    },

    async createGatherer(data: CreateGatherer) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await GathererRepository.createData(data);
        this.close();
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async updateGatherer(data: UpdateGatherer) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await GathererRepository.updateDataById(data);
        this.close();
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
      this.close();
    },

    async removeGatherer(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.removeData(username);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        await this.getGatherers();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async activGatherer(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.activeData(username);
        this.$swal.fire(
          '¡Reactivado!',
          'Recolector a sido reactivado',
          'success'
        );
        this.getGatherers();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async savePassword(data: UpdatePasswords) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.updatePasswords(data);
        this.$swal.fire(
          '¡Actualizado!',
          'La contraseña se ha Actualizado',
          'success'
        );
        this.close();
        this.getGatherers();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async save(data: Gatherer) {
      const { username, firstName, lastName, email, password } = data.user;
      const { id, score, stars } = data;
      if (this.gathererIndex > -1) {
        this.updateGathererData = {
          id,
          score,
          stars,
        };
        this.newFile
          ? (this.updateGathererData.avatar = this.selectedFile)
          : '';
        await this.updateGatherer(this.updateGathererData);
      } else {
        this.createGathererData = {
          username,
          firstName,
          lastName,
          email,
          password,
          score,
          stars,
        };
        this.newFile
          ? (this.createGathererData.avatar = this.selectedFile)
          : '';
        await this.createGatherer(this.createGathererData);
      }
      this.selectedFile = {} as Event;
      this.newFile = false;
      this.getGatherers();
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    actuPasswords(gatherer: Gatherer) {
      this.gathererIndex = this.gatherers.indexOf(gatherer);
      this.gatherer = Object.assign({}, gatherer);
      this.dialogoPassword = true;
    },

    onFileSelected(file: Event) {
      this.selectedFile = file;
      this.newFile = true;
    },

    deleteGatherer(gatherer: Gatherer) {
      this.gathererIndex = this.gatherers.indexOf(gatherer);
      this.gatherer = Object.assign({}, gatherer);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeGatherer(this.gatherer.user.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    activeGatherer(gatherer: Gatherer) {
      this.gathererIndex = this.gatherers.indexOf(gatherer);
      this.gatherer = Object.assign({}, gatherer);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Reactivaras al Recolector!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Activar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.activGatherer(this.gatherer.user.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se reactivo ningun elemento',
              'error'
            );
          }
        });
    },

    editGatherer(gatherer: Gatherer) {
      this.gathererIndex = this.gatherers.indexOf(gatherer);
      this.gatherer = Object.assign({}, gatherer);
      this.dialog = true;
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.dialogoPassword = false;
      this.$nextTick(() => {
        this.gatherer = JSON.parse(JSON.stringify(this.defaultGatherer));
        this.gathererIndex = -1;
      });
    },

    errorData(err: ErrorWrapper) {
      let message = '';
      if (err) {
        err.errors.map((err) => {
          if (err.key === 'message') {
            message = err.value;
          }
        });
      }
      return message;
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 150px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
