<template>
  <div class="full-container bg-gradient">
    <v-row class="full-container justify-center">
      <v-col cols="12" sm="6" md="5" class="pa-0 pa-sm-3 mt-sm-12">
        <login-form class="d-sm-none" :loading="loading" @login="loginUser" />
        <login-form
          class="d-none d-sm-block rounded-lg"
          :loading="loading"
          @login="loginUser"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Login } from '@/types';
import { ErrorWrapper } from '@/services';
import LoginForm from '@/components/auth/LoginForm.vue';

export default Vue.extend({
  name: 'Login',
  data: () => ({
    loading: false,
  }),
  components: {
    LoginForm,
  },
  computed: {
    isAutheticate() {
      return this.$store.state.auth.isAuthenticated;
    },
    errorData() {
      return this.$store.state.auth.errorData;
    },
  },
  watch: {
    isAutheticate(val: boolean) {
      if (val) {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Bienvenido',
          showConfirmButton: false,
          timer: 1500,
        });
        this.$router.push('/dashboard');
      }
    },
    errorData(err: ErrorWrapper) {
      let message = '';
      if (err) {
        err.errors.map((err) => {
          if (err.key === 'message') {
            message = err.value;
          }
        });
        this.loading = false;
        this.$swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: `${message}`,
        });
      }
    },
  },
  methods: {
    loginUser(login: Login) {
      this.loading = true;
      this.$store.dispatch('auth/login', login);
    },
  },
});
</script>
<style scoped>
.full-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.content-relative {
  position: relative;
  top: 20%;
}

.bg-gradient {
  background: rgb(72, 71, 181);
  background: linear-gradient(
    180deg,
    rgba(72, 71, 181, 1) 0%,
    rgba(15, 68, 76, 1) 100%
  );
}
</style>
