<template>
  <v-data-table
    :headers="headers"
    :items="missions"
    item-key="id"
    sort-by="name"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.missions.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-castle'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Misiones</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <mission-modal
          :dialog="dialog"
          :mission="mission"
          :formTitle="formTitle"
          :isCreate="isCreate"
          :isAdmin="isAdmin"
          :creaturesList="creatures"
          :creaturesVersionsList="creaturesVersions"
          @close="close"
          @save="save"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.isActive`]="{ item }">
      <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editMission(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="item.isActive" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            @click="deleteMission(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="primary"
            small
            @click="activeMission(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-replay
          </v-icon>
        </template>
        <span>Reactivar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <router-link
            class="underline-none mx-2"
            :to="`/mission/${missionID(item)}/missionTask`"
          >
            <v-icon color="orange" small v-bind="attrs" v-on="on">
              mdi-clipboard-check-multiple-outline
            </v-icon>
          </router-link>
        </template>
        <span>Sub-Misiones</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay Misiones </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import MissionModal from '@/components/mission/MissionUserModal.vue';
import {
  Mission,
  CreateMission,
  UpdateMission,
  Creature,
  CreatureVersion,
  CreatureVersionResource,
  OptionsFooterDataTable,
} from '@/types';

import {
  MissionRepository,
  CreatureRepository,
  CreatureVersionRepository,
} from '@/repositories';

export default Vue.extend({
  name: 'Mission',
  data: () => ({
    search: '',
    dialog: false,
    isCreate: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      {
        text: 'Nombre',
        align: 'start',
        value: 'name',
      },
      { text: 'Descripción', value: 'description' },
      { text: 'Versión asociada', value: 'creatureVersion.name' },
      { text: 'Estatus', value: 'isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    missions: [] as Array<Mission>,
    creatures: [] as Array<Creature>,
    creaturesVersions: {} as CreatureVersion,
    createMissionData: {} as CreateMission,
    updateMissionData: {} as UpdateMission,
    missionIndex: -1,
    mission: {
      id: 0,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      name: '',
      description: '',
      isActive: true,
    } as Mission,
    defaultMission: {
      id: 0,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      name: '',
      description: '',
      isActive: true,
    } as Mission,
  }),

  components: {
    MissionModal,
  },

  computed: {
    formTitle() {
      return this.missionIndex === -1 ? 'Registrar Misión' : 'Editar Misión';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.missions.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.missions.length;
      }
    },
    isAdmin() {
      return this.$store.state.auth.isAdministrator;
    },
    isWizardSupremo() {
      return this.$store.state.auth.wizard;
    },
    isUser() {
      return this.$store.state.auth.user;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getMissions();
    if (this.isAdmin) {
      this.getCreatures();
    }
    this.getCreaturesVersions();
  },

  methods: {
    async getMissions() {
      const res = await MissionRepository.getAll();
      this.missions = res.data.data;
    },

    missionID(mission: Mission) {
      return mission.id;
    },

    async getCreatures() {
      const res = await CreatureRepository.getAll();
      this.creatures = res.data.data;
    },

    async getCreaturesVersions() {
      const res = await CreatureVersionRepository.getAll();
      this.creaturesVersions = res.data.data;
    },

    async createMission(data: CreateMission) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionRepository.createData(data);
        this.$swal.fire(
          '¡Registrado!',
          'Misión registrada con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async updateMission(data: UpdateMission) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Misión actualizada con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async removeMission(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionRepository.removeData(id);
        this.$swal.fire('¡Eliminado!', 'Misión eliminada con exito', 'success');
        this.getMissions();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async activMission(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionRepository.activeData(id);
        this.$swal.fire(
          '¡Reactivado!',
          'Misión ha sido reactivada con exito',
          'success'
        );
        this.getMissions();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async save(data: Mission) {
      const { name, description, id } = data;
      if (this.missionIndex > -1) {
        this.updateMissionData = { id, name, description };
        await this.updateMission(this.updateMissionData);
      } else {
        this.createMissionData = {
          name,
          description,
        };
        await this.createMission(this.createMissionData);
      }
      this.getMissions();
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    editMission(mission: Mission) {
      this.missionIndex = this.missions.indexOf(mission);
      this.mission = Object.assign({}, mission);
      this.dialog = true;
    },

    deleteMission(mission: Mission) {
      this.missionIndex = this.missions.indexOf(mission);
      this.mission = Object.assign({}, mission);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminar esta misión!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeMission(this.mission.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'La misión no se ha eliminado',
              'error'
            );
          }
        });
    },

    activeMission(mission: Mission) {
      this.missionIndex = this.missions.indexOf(mission);
      this.mission = Object.assign({}, mission);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Reactivar esta misión!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Activar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.activMission(this.mission.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'La misión no se ha reactivado',
              'error'
            );
          }
        });
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.$nextTick(() => {
        this.mission = Object.assign({}, this.defaultMission);
        this.missionIndex = -1;
      });
    },
  },
});
</script>

<style scoped>
.underline-none {
  text-decoration: none;
}
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
