<template>
  <div>
    <div class="mb-8 d-flex align-center justify-space-between">
      <v-btn class="mx-2" fab dark small color="primary" to="/mission">
        <v-icon>mdi-keyboard-return</v-icon>
      </v-btn>
      <v-card class="pa-3">
        <div></div>
        <span class="text-subtitle-1 font-weight-bold">Misión: </span>
        <span>{{ mission.name }}</span>
        <br />
        <span class="text-subtitle-1 font-weight-bold">Descripción: </span>
        <span>{{ mission.description }}</span>
      </v-card>
    </div>
    <v-data-table
      :headers="headers"
      :items="missionsTask"
      item-key="name"
      sort-by="name"
      class="elevation-1"
      :search="search"
      :custom-filter="filterOnlyCapsText"
      :footer-props="{
        itemsPerPageText: 'Filas por página',
        itemsPerPageAllText: 'Todos',
        pageText: `${this.pageStart}-${this.pageEnd} de ${this.missionsTask.length}`,
      }"
      @update:options="updateOptions"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-card class="rounded-lg mb-5">
            <v-sheet
              color="primary"
              width="90"
              height="90"
              class="overflow-hidden transition-swing v-card--material__sheet"
              elevation="6"
              max-width="100%"
              rounded
            >
              <v-theme-provider dark>
                <v-card
                  class="d-flex justify-center align-center rounded-0 elevation-0"
                  height="100%"
                  color="transparent"
                >
                  <v-icon size="40" v-text="'mdi-account-circle'" />
                </v-card>
              </v-theme-provider>
            </v-sheet>
          </v-card>
          <v-toolbar-title class="px-4">Sub Misiones</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
          >
          </v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark class="mb-2" @click="openDialog">
            Registar
          </v-btn>
          <mission-task-modal
            :dialog="dialog"
            :missionTask="missionTask"
            :formTitle="formTitle"
            :missionsList="missions"
            @close="close"
            @save="save"
          />
        </v-toolbar>
      </template>
      <template v-slot:[`item.isActive`]="{ item }">
        <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              color="warning"
              small
              class="mr-2"
              @click="editMissionT(item)"
              v-bind="attrs"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>
          <span>Editar</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              v-if="item.isActive"
              color="error"
              small
              @click="deleteMissionT(item)"
              v-bind="attrs"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>
          <span>Eliminar</span>
        </v-tooltip>
      </template>

      <template v-slot:no-data>
        <span> No hay datos </span>
      </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { MissionTaskRepository, MissionRepository } from '@/repositories';
import MissionTaskModal from '../components/missionTask/MissionTaskModal.vue';
import {
  MissionTask,
  CreateMissionTask,
  UpdateMissionTask,
  OptionsFooterDataTable,
  Mission,
} from '@/types';

export default Vue.extend({
  name: 'MissionTask',
  data: () => ({
    search: '',
    dialog: false,
    isCreate: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      {
        text: 'Nombre',
        align: 'start',
        value: 'name',
      },
      { text: 'Descripción', value: 'description' },
      { text: 'Puntaje', value: 'score' },
      { text: 'Estatus', value: 'isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    missionTaskIndex: -1,
    missions: [] as Array<Mission>,
    mission: {} as Mission,
    missionsTask: [] as Array<MissionTask>,
    CreateMissionTaskData: {} as CreateMissionTask,
    updateMissionTaskData: {} as UpdateMissionTask,
    missionTask: {
      id: 0,
      name: '',
      description: '',
      score: 0,
      isActive: true,
      mission: {
        id: 0,
        creatureVersionId: 0,
        name: '',
        description: '',
        score: '',
        isActive: true,
      },
    } as MissionTask,
    defaultMissionTask: {
      id: 0,
      name: '',
      description: '',
      score: 0,
      isActive: true,
      mission: {
        id: 0,
        creatureVersionId: 0,
        name: '',
        description: '',
        score: '',
        isActive: true,
      },
    } as MissionTask,
  }),

  components: {
    MissionTaskModal,
  },

  computed: {
    formTitle() {
      return this.missionTaskIndex === -1
        ? 'Registrar sub-misión'
        : 'Editar sub-misión';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.missionsTask.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.missionsTask.length;
      }
    },
    paramsID() {
      return this.$route.params.id;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getMissionsTask();
    this.getMission();
  },

  methods: {
    async getMissionsTask() {
      const res = await MissionTaskRepository.getByMissionId(
        parseInt(this.paramsID)
      );
      this.missionsTask = res.data.data;
    },
    async getMission() {
      const res = await MissionRepository.getByIdData(parseInt(this.paramsID));
      this.mission = res.data.data;
    },

    async createMissionTask(data: CreateMissionTask) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionTaskRepository.createData(data);
        this.$swal.fire(
          '¡Registrada!',
          'Sub-misión creada con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async updateMissionTask(data: UpdateMissionTask) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionTaskRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Sub-misión actualizada con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async removeMissionTask(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await MissionTaskRepository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'Sub-misión eliminada con exito',
          'success'
        );
        await this.getMissionsTask();
      } catch (error) {
        this.$swal.fire('Error!', `${error}`, 'error');
      }
    },

    async save(data: MissionTask) {
      const { id, name, description, score } = data;
      const missionId = parseInt(this.paramsID);
      if (this.missionTaskIndex > -1) {
        this.updateMissionTaskData = {
          id,
          name,
          description,
          score,
        };
        await this.updateMissionTask(this.updateMissionTaskData);
      } else {
        this.CreateMissionTaskData = {
          missionId,
          name,
          description,
          score,
        };
        await this.createMissionTask(this.CreateMissionTaskData);
      }
      await this.getMissionsTask();
    },

    editMissionT(missionTask: MissionTask) {
      this.missionTaskIndex = this.missionsTask.indexOf(missionTask);
      this.missionTask = Object.assign({}, missionTask);
      this.dialog = true;
    },

    deleteMissionT(missionTask: MissionTask) {
      this.missionTaskIndex = this.missionsTask.indexOf(missionTask);
      this.missionTask = Object.assign({}, missionTask);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminar esta Sub-misión!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeMissionTask(this.missionTask.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'La sub-misión no se ha eliminado',
              'error'
            );
          }
        });
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.$nextTick(() => {
        this.missionTask = Object.assign({}, this.defaultMissionTask);
        this.missionTaskIndex = -1;
      });
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 210px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
