<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8">
        <form-profile
          :dialogP="dialogP"
          :currentUser="currentUser"
          :currentWizard="currentWizard"
          :currentCreature="currentCreature"
          @openDialogPassword="updateDialogPassword"
          @save="save"
          @close="close"
        />
      </v-col>
      <v-col d-flex cols="12" md="4">
        <card-profile
          :currentUser="currentUser"
          :currentWizard="currentWizard"
        />
      </v-col>
    </v-row>
    <update-password-modal
      :dialog="dialog"
      @save="savePassword"
      @close="updateDialogPassword"
    />
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import CardProfile from '@/components/profile/CardProfile.vue';
import FormProfile from '@/components/profile/FormProfile.vue';
import UpdatePasswordModal from '@/components/profile/UpdatePassword.vue';

import { Admin, UpdateAdmin, UpdatePassword } from '@/types';

import { AdminRepository, UserRepository } from '@/repositories';
export default Vue.extend({
  name: 'Profile',
  data: () => ({
    dialogP: false,
    dialog: false,
    admins: [] as Array<Admin>,

    updateAdminData: {} as UpdateAdmin,
    updatePasswordData: {} as UpdatePassword,
  }),
  components: {
    CardProfile,
    FormProfile,
    UpdatePasswordModal,
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    currentWizard() {
      return this.$store.state.auth.wizard;
    },
    currentCreature() {
      return this.$store.state.auth.creature;
    },
  },

  methods: {
    async getUserProfile() {
      const res = await UserRepository.getUserProfile();
      this.admins = res.data.data;
    },
    async updateAdmin(data: UpdateAdmin) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await AdminRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.$store.dispatch('auth/currentUser');
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
    async updatePassword(data: UpdatePassword) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.updatePassword(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.$store.dispatch('auth/currentUser');
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
      this.updateDialogPassword(false);
    },
    save(data: Admin) {
      const { username, firstName, lastName, email } = data;
      this.updateAdminData = { username, firstName, lastName, email };
      this.updateAdmin(this.updateAdminData);
    },
    savePassword(data: UpdatePassword) {
      const { currentPassword, newPassword, confirmPassword } = data;
      this.updatePasswordData = {
        currentPassword,
        newPassword,
        confirmPassword,
      };
      this.updatePassword(this.updatePasswordData);
    },
    close() {
      this.dialogP = false;
    },
    updateDialogPassword(dialog: boolean) {
      this.dialog = dialog;
    },
  },
});
</script>
