<template>
  <v-data-table
    :headers="headers"
    :items="reportsRejects"
    item-key="id"
    sort-by="description"
    class
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.reportsRejects.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-file-document'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Reportes Rechazados</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
        <report-rejected-modal
          :dialog="dialog"
          :reportR="reportR"
          :formTitleReject="formTitleReject"
          @close="close"
          @save="save"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editReportReject(item)"
            v-bind="attrs"
            v-on="on"
            >mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span>No hay datos</span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import ReportRejectedModal from '@/components/reportReject/ReportRejectedModal.vue';
import { ReportRejectedRepository, WizardRepository } from '@/repositories';
import {
  ReportRejected,
  ReportResource,
  WizardResource,
  Wizard,
  OptionsFooterDataTable,
  UpdateReportRejected,
} from '@/types';

export default Vue.extend({
  name: 'ReportRejected',
  data: () => ({
    search: '',
    isCreate: false,
    dialog: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      { text: 'Descripción', value: 'description' },
      { text: 'Reporte', align: 'start', value: 'report.description' },
      { text: 'Mago', align: 'start', value: 'wizard.username' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    reportIndex: -1,
    wizards: [] as Array<Wizard>,
    reportsRejects: [] as Array<ReportRejected>,
    updateReporRejectedData: {} as UpdateReportRejected,
    reportR: {
      id: '',
      description: '',
      report: {
        id: '',
        description: '',
      } as ReportResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as ReportRejected,
    defaultReport: {
      id: '',
      description: '',
      report: {
        id: '',
        description: '',
      } as ReportResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as ReportRejected,
  }),
  components: {
    ReportRejectedModal,
  },

  computed: {
    formTitleReject() {
      return this.reportIndex === -1
        ? 'Rechazar reporte'
        : 'Editar rechazo del reporte';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.reportsRejects.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.reportsRejects.length;
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getReportRejected();
    this.getWizards();
  },

  methods: {
    async getReportRejected() {
      const res = await ReportRejectedRepository.getAll();
      this.reportsRejects = res.data.data;
    },

    async getWizards() {
      const res = await WizardRepository.getAll();
      this.wizards = res.data.data;
    },

    async updateReportRejected(data: UpdateReportRejected) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRejectedRepository.updateDataById(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async removeReport(id: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRejectedRepository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        await this.getReportRejected();
      } catch (error) {
        this.$swal.fire('Error!', `${error}`, 'error');
      }
    },

    async save(data: ReportRejected) {
      const { id, description } = data;
      const reportId = data.report.id;
      const wizardId = data.wizard.id;
      if (this.reportIndex > -1) {
        this.updateReporRejectedData = {
          id,
          description,
          reportId,
          wizardId,
        };
        await this.updateReportRejected(this.updateReporRejectedData);
      }
      await this.getReportRejected();
    },

    editReportReject(reportReject: ReportRejected) {
      this.reportIndex = this.reportsRejects.indexOf(reportReject);
      this.reportR = Object.assign({}, reportReject);
      this.dialog = true;
    },

    deleteGatherer(reportReject: ReportRejected) {
      this.reportIndex = this.reportsRejects.indexOf(reportReject);
      this.reportR = Object.assign({}, reportReject);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeReport(this.reportR.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.$nextTick(() => {
        this.reportR = Object.assign({}, this.defaultReport);
        this.reportIndex = -1;
      });
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 260px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
