<template>
  <v-data-table
    :headers="headers"
    :items="reports"
    item-key="id"
    sort-by="description"
    class
    :search="search"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.reports.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-file-document-multiple'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Reportes</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isWizardSupremo"
          color="primary"
          dark
          class="mb-2"
          @click="openDialog"
        >
          Registar
        </v-btn>
        <report-modal
          :dialog="dialog"
          :report="report"
          :formTitle="formTitle"
          :missionsList="missions"
          :missionsTaskList="missionsTask"
          :creaturesVersionsList="creaturesVersions"
          :wizardsList="wizards"
          :gatherersList="gatherers"
          :creaturesList="creatures"
          :isAdmin="isAdmin"
          :isSupremo="isWizardSupremo"
          :isCreate="isCreate"
          @close="close"
          @save="save"
          @file="onFileSelected"
        />
        <report-rejected-modal
          :dialog="dialogReject"
          :reportR="report"
          :formTitleReject="formTitleReject"
          @close="close"
          @save="saveR"
        />
        <status-modal
          :dialog="dialogStatus"
          :report="report"
          :isSupremo="isWizardSupremo"
          :formTitle="formTitleStatus"
          @close="close"
          @save="validationUpdateStatus"
        />
        <clasification-modal
          :dialog="dialogClasification"
          :report="report"
          :formTitle="formTitleClasification"
          @close="close"
          @save="updateClasification"
        />
        <reportwizard-modal
          :dialog="dialogWizard"
          :report="report"
          :wizardsList="wizards"
          :formTitle="formTitleWizard"
          @close="close"
          @save="validationUpdateWizard"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.type`]="{ item }">
      <span>{{ getTypeReports(item.type) }}</span>
    </template>
    <template v-slot:[`item.classificationReport`]="{ item }">
      <v-chip
        :color="getColorsC(item.classificationReport)"
        class="white--text"
        @click="clasificationReport(item)"
      >
        {{ getClassificationsReports(item.classificationReport) }}
      </v-chip>
    </template>
    <template v-slot:[`item.status`]="{ item }">
      <v-chip
        :color="getColors(item.status)"
        class="white--text"
        @click="statusReport(item)"
      >
        {{ getStatusReports(item.status) }}
      </v-chip>
    </template>
    <template v-slot:[`item.wizard.username`]="{ item }">
      <v-chip color="primary" class="white--text" @click="wizardReport(item)">
        {{ item.wizard === null ? 'Actualizar' : item.wizard.username }}
      </v-chip>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editGatherer(item)"
            v-bind="attrs"
            v-on="on"
            >mdi-pencil</v-icon
          >
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="isWizardSupremo" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            class="mr-2"
            @click="deleteGatherer(item)"
            v-bind="attrs"
            v-on="on"
            >mdi-delete</v-icon
          >
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-if="item.status !== 'R' && isWizardSupremo" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="red"
            small
            @click="rechazarReport(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-close-thick</v-icon
          >
        </template>
        <span>Rechazar</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span>No hay datos</span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import ReportModal from '@/components/report/ReportModal.vue';
import StatusModal from '@/components/report/StatusModal.vue';
import ClasificationModal from '@/components/report/ClasificationModal.vue';
import ReportRejectedModal from '@/components/reportReject/ReportRejectedModal.vue';
import ReportwizardModal from '@/components/report/ReportwizardModal.vue';

import {
  ReportRepository,
  ReportRejectedRepository,
  MissionRepository,
  GathererRepository,
  CreatureVersionRepository,
  WizardRepository,
  CreatureRepository,
  MissionTaskRepository,
} from '@/repositories';
import {
  Report,
  CreateReport,
  UpdateReport,
  UpdateStatusReport,
  GathererResource,
  CreatureVersionResource,
  WizardResource,
  Wizard,
  Gatherer,
  Creature,
  Mission,
  MissionTask,
  CreatureVersion,
  OptionsFooterDataTable,
  CreateReportRejected,
  UpdateWizardReport,
  ClasificationStatusReport,
  MissionTaskResource,
  Geolocation,
} from '@/types';
import {
  ReportType,
  ClassificationReportType,
  StatusReportType,
  WizardType,
  CountryCode,
  Countries,
} from '@/enums';

export default Vue.extend({
  name: 'Report',
  data: () => ({
    search: '',
    isCreate: false,
    dialog: false,
    dialogReject: false,
    dialogStatus: false,
    dialogClasification: false,
    dialogWizard: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      { text: 'Descripción', value: 'description' },
      { text: 'Tipo', value: 'type', sortable: false },
      { text: 'Clasificación', value: 'classificationReport' },
      { text: 'Recolector', align: 'start', value: 'collector.username' },
      { text: 'Ubicación', align: 'start', value: 'geolocation.city' },
      { text: 'Estatus', value: 'status' },
      { text: 'Magos', value: 'wizard.username' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    reportIndex: -1,
    selectedFile: {} as Event,
    newFile: false,
    reports: [] as Array<Report>,
    missions: [] as Array<Mission>,
    gatherers: [] as Array<Gatherer>,
    creaturesVersions: [] as Array<CreatureVersion>,
    wizards: [] as Array<Wizard>,
    missionsTask: [] as Array<MissionTask>,
    createReportRejectedData: {} as CreateReportRejected,
    createReportData: {} as CreateReport,
    updateReportData: {} as UpdateReport,
    updateStatusData: {} as UpdateStatusReport,
    updateWizardData: {} as UpdateWizardReport,
    creatures: [] as Array<Creature>,
    report: {
      id: '',
      type: ReportType.GetBetter,
      description: '',
      image: '',
      classificationReport: ClassificationReportType.Low,
      status: StatusReportType.Pending,
      collector: {
        id: 0,
        avatar: '',
        score: 0,
        stars: 0,
        username: '',
      } as GathererResource,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      subMission: {
        id: 0,
        missionId: 0,
        name: '',
        description: '',
        isActive: false,
      } as MissionTaskResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as Report,
    defaultReport: {
      id: '',
      type: ReportType.GetBetter,
      description: '',
      image: '',
      classificationReport: ClassificationReportType.Low,
      status: StatusReportType.Pending,
      collector: {
        id: 0,
        avatar: '',
        score: 0,
        stars: 0,
        username: '',
      } as GathererResource,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      subMission: {
        id: 0,
        missionId: 0,
        name: '',
        description: '',
        isActive: false,
      } as MissionTaskResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as Report,
  }),
  components: {
    ReportModal,
    StatusModal,
    ReportRejectedModal,
    ClasificationModal,
    ReportwizardModal,
  },
  computed: {
    formTitle() {
      return this.reportIndex === -1 ? 'Registrar Reporte' : 'Editar Reporte';
    },
    formTitleReject() {
      return 'Rechazar reporte';
    },
    formTitleStatus() {
      return 'Actualizar status';
    },
    formTitleClasification() {
      return 'Actualizar Clasificacion';
    },
    formTitleWizard() {
      return 'Actualizar Mago';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.reports.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.reports.length;
      }
    },
    isAdmin() {
      return this.$store.state.auth.isAdministrator;
    },
    wizard(): Wizard {
      return this.$store.state.auth.wizard;
    },
    isWizardSupremo(): boolean {
      return this.wizard.role.id === WizardType.Supremo;
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogReject(val) {
      val || this.close();
    },
    dialogStatus(val) {
      val || this.close();
    },
    dialogClasification(val) {
      val || this.close();
    },
    dialogWizard(val) {
      val || this.close();
    },
  },
  created() {
    if (this.isWizardSupremo) {
      this.getReports();
      this.getGatherers();
    } else {
      this.GetReportsByWizard(this.wizard.id);
    }
    this.getMissions();
    this.getMissionsTask();
    this.getCreaturesVersions();
    this.getWizards();
  },
  methods: {
    async getReports() {
      const res = await ReportRepository.getAll();
      this.reports = res.data.data;
      this.reports.map((report: Report) => {
        if (report?.geolocation?.country) {
          report.geolocation.countryName =
            CountryCode.findByCountry(report.geolocation.country as Countries)
              ?.countryName ?? '';
        }
      });
    },

    async GetReportsByWizard(id: string) {
      const res = await ReportRepository.getByWizard(id);
      this.reports = res.data.data;
    },

    async getMissionsTask() {
      const res = await MissionTaskRepository.getAll();
      this.missionsTask = res.data.data;
    },

    async getMissions() {
      const res = await MissionRepository.getAll();
      this.missions = res.data.data;
    },
    async getCreaturesVersions() {
      const res = await CreatureVersionRepository.getAll();
      this.creaturesVersions = res.data.data;
    },
    async getCreatures() {
      const res = await CreatureRepository.getAll();
      this.creatures = res.data.data;
    },
    async getWizards() {
      const res = await WizardRepository.getAll();
      this.wizards = res.data.data;
      this.wizards = this.wizards.filter(
        (wizard: Wizard) => wizard.role.id !== WizardType.Supremo
      );
    },
    async getGatherers() {
      const res = await GathererRepository.getAll();
      this.gatherers = res.data.data;
    },
    async createReport(data: CreateReport) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.createData(data);
        this.$swal.fire(
          '¡Registrado!',
          'Reporte registrado con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
    async updateReport(data: UpdateReport) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.updateDataById(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Reporte actualizado con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
    async removeReport(id: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'Reporte eliminado con exito',
          'success'
        );
        this.callReports();
      } catch (error) {
        this.$swal.fire('Error!', `${error}`, 'error');
      }
    },
    async createReportRejected(data: CreateReportRejected) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRejectedRepository.createData(data);
        this.$swal.fire(
          '¡Rechazado!',
          'Reporte rechazado con exito',
          'success'
        );
        this.callReports();
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
    saveR(data: Report) {
      const reportId = data.id;
      let wizardId = data.wizard?.id;
      wizardId ? wizardId : (wizardId = '');
      const { description } = data;
      this.createReportRejectedData = {
        reportId,
        wizardId,
        description,
      };
      this.createReportRejected(this.createReportRejectedData);
    },
    async updateStatus(data: UpdateStatusReport) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.updateStatusData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Reporte actualizado con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
      this.callReports();
    },
    async updateClasification(data: ClasificationStatusReport) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.clasificationData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Reporte actualizado con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
      this.callReports();
    },
    async updateWizard(data: UpdateWizardReport) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.updateWizardData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Reporte Asignado con exito',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
      this.callReports();
    },

    validationUpdateStatus(data: UpdateStatusReport) {
      const report: Report =
        this.reports.find((r) => r.id === data.id) ?? ({} as Report);
      if (report.wizard?.id) {
        this.updateStatus(data);
      } else {
        this.$swal.fire(
          '¡Error!',
          'Debe asignar este reporte a un mago primero',
          'error'
        );
      }
    },
    validationUpdateWizard(data: UpdateWizardReport) {
      const report: Report =
        this.reports.find((r) => r.id === data.id) ?? ({} as Report);
      if (
        report.classificationReport !== '' &&
        report.classificationReport !== null
      ) {
        this.updateWizard(data);
      } else {
        this.$swal.fire(
          '¡Error!',
          'Debe clasificar el reporte primero',
          'error'
        );
      }
    },
    async save(data: Report) {
      const { id, type, classificationReport, status, description } = data;
      const collectorId = data.collector.id;
      const creatureVersionId = data.creatureVersion.id;
      const subMissionId = data.subMission.id;
      const wizardId = data.wizard?.id;
      if (this.reportIndex > -1) {
        if (wizardId !== '') {
          this.updateReportData = {
            id,
            type,
            classificationReport,
            status,
            description,
            collectorId,
            creatureVersionId,
            subMissionId,
            wizardId,
          };
        } else {
          this.updateReportData = {
            id,
            type,
            classificationReport,
            status,
            description,
            collectorId,
            creatureVersionId,
            subMissionId,
          };
        }
        await this.updateReport(this.updateReportData);
      } else {
        if (wizardId !== '') {
          this.createReportData = {
            type,
            classificationReport,
            status,
            description,
            collectorId,
            creatureVersionId,
            subMissionId,
            wizardId,
          };
        } else {
          this.createReportData = {
            type,
            classificationReport,
            status,
            description,
            collectorId,
            creatureVersionId,
            subMissionId,
          };
        }
        this.newFile ? (this.createReportData.image = this.selectedFile) : '';
        await this.createReport(this.createReportData);
      }
      this.selectedFile = {} as Event;
      this.newFile = false;
      this.callReports();
    },
    editGatherer(report: Report) {
      this.reportIndex = this.reports.indexOf(report);
      this.report = Object.assign({}, report);
      this.dialog = true;
    },
    rechazarReport(report: Report) {
      this.reportIndex = this.reports.indexOf(report);
      this.report = Object.assign({}, report);
      this.dialogReject = true;
    },
    statusReport(report: Report) {
      this.reportIndex = this.reports.indexOf(report);
      this.report = Object.assign({}, report);
      if (report.status !== StatusReportType.Rejected) {
        this.dialogStatus = true;
      }
    },
    wizardReport(report: Report) {
      if (this.isWizardSupremo) {
        this.reportIndex = this.reports.indexOf(report);
        this.report = Object.assign({}, report);
        this.dialogWizard = true;
      }
    },
    clasificationReport(report: Report) {
      this.reportIndex = this.reports.indexOf(report);
      this.report = Object.assign({}, report);
      if (report.status !== StatusReportType.Rejected) {
        this.dialogClasification = true;
      }
    },
    deleteGatherer(report: Report) {
      this.reportIndex = this.reports.indexOf(report);
      this.report = Object.assign({}, report);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminar este reporte!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeReport(this.report.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'El reporte no se ha eliminado',
              'error'
            );
          }
        });
    },

    callReports() {
      if (this.isWizardSupremo) {
        this.getReports();
      } else {
        this.GetReportsByWizard(this.wizard.id);
      }
    },
    onFileSelected(file: Event) {
      this.selectedFile = file;
      this.newFile = true;
    },
    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },
    getClassificationsReports(
      classification: ClassificationReportType
    ): string {
      switch (classification) {
        case ClassificationReportType.Low:
          return 'Bajo';
        case ClassificationReportType.Medium:
          return 'Medio';
        case ClassificationReportType.Hight:
          return 'Alto';
        default:
          return 'Actualizar';
      }
    },
    getTypeReports(type: ReportType): string {
      switch (type) {
        case ReportType.GetBetter:
          return 'Mejora';
        case ReportType.Error:
          return 'Error';
        default:
          return '';
      }
    },
    getStatusReports(status: StatusReportType): string {
      switch (status) {
        case StatusReportType.Pending:
          return 'Pendiente';
        case StatusReportType.Process:
          return 'Proceso';
        case StatusReportType.Tests:
          return 'Pruebas';
        case StatusReportType.Processed:
          return 'Procesado';
        case StatusReportType.Rejected:
          return 'Rechazado';
        default:
          return 'Actualizar';
      }
    },
    getColors(status: StatusReportType): string {
      switch (status) {
        case StatusReportType.Pending:
          return 'yellow darken-3';
        case StatusReportType.Process:
          return 'orange';
        case StatusReportType.Tests:
          return 'blue';
        case StatusReportType.Processed:
          return 'green';
        case StatusReportType.Rejected:
          return 'red';
        default:
          return '';
      }
    },
    getColorsC(c: ClassificationReportType): string {
      switch (c) {
        case ClassificationReportType.Low:
          return '#D2B4DE';
        case ClassificationReportType.Medium:
          return '#9B59B6';
        case ClassificationReportType.Hight:
          return '#5B2C6F';
        default:
          return 'info';
      }
    },
    // getCountries(geolocation: Geolocation): string {
    //   if (geolocation?.country) {
    //     return (
    //       CountryCode.findByCountry(geolocation.country as Countries)
    //         ?.countryName ?? ''
    //     );
    //   }
    //   return '';
    // },
    close() {
      this.dialog = false;
      this.dialogReject = false;
      this.dialogStatus = false;
      this.dialogClasification = false;
      this.dialogWizard = false;
      this.isCreate = false;
      this.$nextTick(() => {
        this.report = JSON.parse(JSON.stringify(this.defaultReport));
        this.reportIndex = -1;
      });
    },
    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },
    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().toLocaleLowerCase().indexOf(search) !== -1
      );
    },
  },
});
</script>
<style scoped>
.toolbar-title {
  width: 150px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
.wizards:hover {
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
  font-weight: 800;
}
</style>
