<template>
  <v-data-table
    :headers="headers"
    :items="roles"
    item-key="name"
    sort-by="name"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.roles.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-account-group'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Roles</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <role-modal
          :dialog="dialog"
          :role="role"
          :formTitle="formTitle"
          @close="close"
          @save="save"
          @file="onFileSelected"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.isActive`]="{ item }">
      <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editRole(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="item.isActive" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="error"
            small
            @click="deleteRole(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="blue"
            small
            @click="activarRole(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-replay
          </v-icon>
        </template>
        <span>Reactivar</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay datos </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import { RoleRepository } from '@/repositories';
import { CreateRole, Role, UpdateRole, OptionsFooterDataTable } from '@/types';
import RoleModal from '@/components/role/RoleModal.vue';
export default Vue.extend({
  name: 'Role',
  data: () => ({
    search: '',
    dialog: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    selectedFile: {} as Event,
    newFile: false,
    headers: [
      { text: 'Nombre', align: 'start', value: 'name' },
      { text: 'Descripción', value: 'description' },
      { text: 'Estatus', value: 'isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    roles: [] as Array<Role>,
    createRoleData: {} as CreateRole,
    updateRoleData: {} as UpdateRole,
    roleIndex: -1,
    role: {
      id: 0,
      name: '',
      description: '',
      avatar: '',
      isActive: true,
    } as Role,
    defaultRole: {
      id: 0,
      name: '',
      description: '',
      avatar: '',
      isActive: true,
    } as Role,
  }),
  components: { RoleModal },
  computed: {
    formTitle() {
      return this.roleIndex === -1 ? 'Registrar Un Rol' : 'Editar Rol';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.roles.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.roles.length;
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.getRoles();
  },

  methods: {
    async getRoles() {
      const res = await RoleRepository.getAll();
      this.roles = res.data.data;
    },
    async createRole(data: CreateRole) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await RoleRepository.createData(data);
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },
    async updateRole(data: UpdateRole) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await RoleRepository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async removeRole(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await RoleRepository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        await this.getRoles();
      } catch (error) {
        this.$swal.fire('Error!', `${error}`, 'error');
      }
    },

    async reactivarRole(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await RoleRepository.activeData(id);
        this.$swal.fire(
          '¡Activado!',
          'Tu elemento ha sido activado',
          'success'
        );
        await this.getRoles();
      } catch (error) {
        this.$swal.fire('Error!', `${error}`, 'error');
      }
    },

    async save(data: Role) {
      const { id, name, description } = data;
      if (this.roleIndex > -1) {
        this.updateRoleData = {
          id,
          name,
          description,
        };
        this.newFile ? (this.updateRoleData.avatar = this.selectedFile) : '';
        await this.updateRole(this.updateRoleData);
      } else {
        this.createRoleData = {
          name,
          description,
          avatar: this.selectedFile,
        };
        this.newFile ? (this.createRoleData.avatar = this.selectedFile) : '';
        await this.createRole(this.createRoleData);
      }
      this.selectedFile = {} as Event;
      this.newFile = false;
      this.getRoles();
    },

    onFileSelected(file: Event) {
      this.selectedFile = file;
      this.newFile = true;
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    editRole(role: Role) {
      this.roleIndex = this.roles.indexOf(role);
      this.role = Object.assign({}, role);
      this.dialog = true;
    },

    deleteRole(role: Role) {
      this.roleIndex = this.roles.indexOf(role);
      this.role = Object.assign({}, role);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeRole(this.role.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    activarRole(role: Role) {
      this.roleIndex = this.roles.indexOf(role);
      this.role = Object.assign({}, role);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Activar este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Activar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.reactivarRole(this.role.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha activado ningún elemento',
              'error'
            );
          }
        });
    },
    openDialog() {
      this.dialog = true;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.role = Object.assign({}, this.defaultRole);
        this.roleIndex = -1;
      });
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
