<template>
  <v-data-table
    :headers="headers"
    :items="tasks"
    item-key="id"
    sort-by="name"
    class="elevation-1"
    :search="search"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-calendar-multiple-check'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Tareas</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <task-modal
          :dialog="dialog"
          :formTitle="formTitle"
          :wizardList="wizards"
          :reportList="reports"
          :task="task"
          :isSupreme="isSupreme"
          @close="close"
          @save="save"
        >
        </task-modal>
        <status-modal
          :dialog="dialogStatus"
          :task="task"
          :formTitle="formTitleStatus"
          @close="close"
          @save="validationUpdateStatus"
        />
      </v-toolbar>
    </template>
    <template v-slot:[`item.status`]="{ item }">
      <v-chip
        :color="getColors(item.status)"
        class="white--text"
        @click="statusReport(item)"
      >
        {{ getStatusReports(item.status) }}
      </v-chip>
    </template>
    <template v-slot:[`item.isActive`]="{ item }">
      <span>{{ item.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editTask(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            class="ml-3"
            color="error"
            small
            @click="deleteTask(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay Tareas </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';

import TaskModal from '../components/task/TaskModal.vue';
import StatusModal from '../components/task/StatusModal.vue';
import {
  CreateTask,
  OptionsFooterDataTable,
  Report,
  ReportResource,
  Task,
  updateTask,
  Wizard,
  WizardResource,
} from '@/types';
import { TaskRespository } from '@/repositories';
import { WizardRepository } from '@/repositories';
import { ReportRepository } from '@/repositories';
import {
  ClassificationReportType,
  ReportType,
  StatusReportType,
  WizardType,
} from '@/enums';

export default Vue.extend({
  name: 'Task',
  data: () => ({
    dialog: false,
    isCreate: false,
    search: '',
    selectedFile: {} as Event,
    Index: -1,
    newFile: false,
    dialogStatus: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    headers: [
      { text: 'Nombre', align: 'start', value: 'name' },
      { text: 'Fecha', align: 'start', value: 'date' },
      { text: 'Estatus Reporte', value: 'status' },
      { text: 'Wizard', value: 'wizard.username' },
      { text: 'Report', value: 'report.description' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    tasks: [] as Array<Task>,
    wizards: [] as Array<Wizard>,
    reports: [] as Array<Report>,
    createTaskData: {} as CreateTask,
    updateTaskData: {} as updateTask,
    task: {
      id: 0,
      name: '',
      description: '',
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      status: '',
      wizard: {
        id: '',
        username: '',
        roleId: 0,
        creatureId: 0,
        score: 0,
      } as WizardResource,
      report: {
        id: '',
        date: '',
        assignedAt: '',
        endsAt: '',
        deliveryAt: '',
        solution: '',
        type: ReportType.GetBetter,
        description: '',
        image: '',
        classificationReport: ClassificationReportType.Low,
        status: StatusReportType.Pending,
        collectorId: 0,
        creatureVersionId: 0,
        subMissionId: 0,
        wizardId: 0,
      } as ReportResource,
    } as Task,
    defaultTaskData: {
      id: 0,
      name: '',
      description: '',
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      status: '',
      wizard: {
        id: '',
        username: '',
        roleId: 0,
        creatureId: 0,
        score: 0,
      } as WizardResource,
      report: {
        id: '',
        date: '',
        assignedAt: '',
        endsAt: '',
        deliveryAt: '',
        solution: '',
        type: ReportType.GetBetter,
        description: '',
        image: '',
        classificationReport: ClassificationReportType.Low,
        status: StatusReportType.Pending,
        collectorId: 0,
        creatureVersionId: 0,
        subMissionId: 0,
        wizardId: 0,
      } as ReportResource,
    } as Task,
  }),

  computed: {
    isAdmin() {
      return this.$store.state.auth.isAdministrator;
    },
    formTitle() {
      return this.Index === -1 ? 'Registrar Tarea' : 'Editar Tarea';
    },
    formTitleStatus() {
      return 'Actualizar status';
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.tasks.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.tasks.length;
      }
    },
    wizard(): Wizard {
      return this.$store.state.auth.wizard;
    },
    isSupreme() {
      const s = this.$store.state.auth.wizard.role.id == 1;
      return s;
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogStatus(val) {
      val || this.close();
    },
  },

  created() {
    this.getTask();
    this.GetWizard();
    if (this.wizard.role.id === WizardType.Supremo) {
      this.GetReport();
    } else {
      this.GetReportByWizard(this.wizard.id);
    }
  },

  methods: {
    async getTask() {
      const res = await TaskRespository.getAll();
      this.tasks = res.data.data;
    },

    async GetWizard() {
      const res = await WizardRepository.getAll();
      this.wizards = res.data.data;
    },

    async GetReport() {
      const res = await ReportRepository.getAll();
      this.reports = res.data.data;
      this.reports = this.reports.filter(
        (report: Report) =>
          report.status === StatusReportType.Pending ||
          report.status === StatusReportType.Process ||
          report.status === StatusReportType.Tests
      );
    },
    async GetReportByWizard(id: string) {
      const res = await ReportRepository.getByWizard(id);
      this.reports = res.data.data;
      this.reports = this.reports.filter(
        (report: Report) =>
          report.status === StatusReportType.Pending ||
          report.status === StatusReportType.Process ||
          report.status === StatusReportType.Tests
      );
    },
    async save(data: Task) {
      const { id, name, report, wizard, date, description } = data;
      const wizardId = parseFloat(wizard.id);
      const reportId = parseFloat(report.id);
      const s = this.$store.state.auth.wizard.id;
      if (this.isSupreme) {
        if (this.Index > -1) {
          this.updateTaskData = {
            id,
            name,
            reportId,
            wizardId,
            date,
            description,
          };
          await this.updateTask(this.updateTaskData);
        } else {
          this.createTaskData = {
            name,
            description,
            date,
            wizardId,
            reportId,
          };
          await this.createTask(this.createTaskData);
        }
      } else if (this.Index > -1) {
        this.updateTaskData = {
          id,
          name,
          reportId,
          wizardId: s,
          date,
          description,
        };
        await this.updateTask(this.updateTaskData);
      } else {
        this.createTaskData = {
          name,
          description,
          date,
          wizardId: s,
          reportId,
        };
        await this.createTask(this.createTaskData);
      }
      this.getTask();
    },

    async createTask(data: CreateTask) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await TaskRespository.createData(data);
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    deleteTask(task: Task) {
      this.Index = this.tasks.indexOf(task);
      this.task = Object.assign({}, task);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeTask(this.task.id);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    async removeTask(id: number) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await TaskRespository.removeData(id);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        this.getTask();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    editTask(task: Task) {
      this.Index = this.tasks.indexOf(task);
      this.task = Object.assign({}, task);
      this.dialog = true;
    },

    async updateTask(data: updateTask) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await TaskRespository.updateData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
    },

    async validationUpdateStatus(data: Task) {
      const { id, name, report, wizard, date, description, status } = data;
      const wizardId = parseFloat(wizard.id);
      const reportId = parseFloat(report.id);
      this.updateTaskData = {
        id,
        name,
        reportId,
        wizardId,
        date,
        description,
        status,
      };
      await this.updateTask(this.updateTaskData);
      await this.getTask();
    },

    getStatusReports(status: StatusReportType): string {
      switch (status) {
        case StatusReportType.Pending:
          return 'Pendiente';
        case StatusReportType.Process:
          return 'Proceso';
        case StatusReportType.Tests:
          return 'Pruebas';
        case StatusReportType.Processed:
          return 'Procesado';
        case StatusReportType.Rejected:
          return 'Rechazado';
        default:
          return 'Actualizar';
      }
    },

    getColors(status: StatusReportType): string {
      switch (status) {
        case StatusReportType.Pending:
          return 'yellow';
        case StatusReportType.Process:
          return 'orange';
        case StatusReportType.Tests:
          return 'blue';
        case StatusReportType.Processed:
          return 'green';
        case StatusReportType.Rejected:
          return 'red';
        default:
          return '';
      }
    },

    statusReport(task: Task) {
      this.Index = this.tasks.indexOf(task);
      this.task = Object.assign({}, task);
      if (task.status !== StatusReportType.Rejected) {
        this.dialogStatus = true;
      }
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },
    close() {
      this.dialog = false;
      this.isCreate = false;
      this.dialogStatus = false;
      this.task = JSON.parse(JSON.stringify(this.defaultTaskData));
      this.$nextTick(() => {
        this.Index = -1;
      });
    },
  },
  components: {
    TaskModal,
    StatusModal,
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 250px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
</style>
