<template>
  <v-data-table
    :headers="headers"
    :items="wizards"
    item-key="user.username"
    sort-by="user.username"
    class="elevation-1"
    :search="search"
    :custom-filter="filterOnlyCapsText"
    :footer-props="{
      itemsPerPageText: 'Filas por página',
      itemsPerPageAllText: 'Todos',
      pageText: `${this.pageStart}-${this.pageEnd} de ${this.wizards.length}`,
    }"
    @update:options="updateOptions"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-card class="rounded-lg mb-5">
          <v-sheet
            color="primary"
            width="90"
            height="90"
            class="overflow-hidden transition-swing v-card--material__sheet"
            elevation="6"
            max-width="100%"
            rounded
          >
            <v-theme-provider dark>
              <v-card
                class="d-flex justify-center align-center rounded-0 elevation-0"
                height="100%"
                color="transparent"
              >
                <v-icon size="40" v-text="'mdi-wizard-hat'" />
              </v-card>
            </v-theme-provider>
          </v-sheet>
        </v-card>
        <v-toolbar-title class="px-4">Magos</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="openDialog">
          Registar
        </v-btn>
        <wizard-modal
          :dialog="dialog"
          :wizard="wizard"
          :formTitle="formTitle"
          :isCreate="isCreate"
          :isAdmin="isAdmin"
          :creaturesList="creatures"
          :rolesList="roles"
          @close="close"
          @save="save"
        />
        <role-modal
          :dialog="dialogRole"
          :formTitle="formTitleRole"
          :rolesList="roles"
          :wizard="wizard"
          @close="close"
          @save="saveRoleWizard"
        ></role-modal>
        <password-modal
          :dialog="dialogoPassword"
          :username="wizard.user.username"
          @close="close"
          @save="savePassword"
        />
      </v-toolbar>
    </template>

    <template v-slot:[`item.role.name`]="{ item }">
      <v-chip @click="statusRole(item)" class="ma-2">
        <span class="roles">{{ item.role.name }}</span>
      </v-chip>
    </template>
    <template v-slot:[`item.user.isActive`]="{ item }">
      <span>{{ item.user.isActive ? 'Activo' : 'Inactivo' }}</span>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="warning"
            small
            class="mr-2"
            @click="editWizard(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-pencil
          </v-icon>
        </template>
        <span>Editar</span>
      </v-tooltip>
      <v-tooltip v-if="item.user.isActive" bottom>
        <template v-slot:activator="{ on, attrs }" v-bind="attrs" v-on="on">
          <v-icon
            color="error"
            small
            @click="deleteWizard(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-delete
          </v-icon>
        </template>
        <span>Eliminar</span>
      </v-tooltip>
      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="primary"
            small
            @click="activeWizard(item)"
            v-bind="attrs"
            v-on="on"
            class="mr-2"
          >
            mdi-replay
          </v-icon>
        </template>
        <span>Reactivar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="purple darken-2"
            small
            class="mr-2"
            @click="actuPasswords(item)"
            v-bind="attrs"
            v-on="on"
          >
            mdi-lock-check
          </v-icon>
        </template>
        <span>Contraseña</span>
      </v-tooltip>
    </template>
    <template v-slot:no-data>
      <span> No hay datos </span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue';
import WizardModal from '@/components/wizard/WizardModal.vue';
import RoleModal from '@/components/wizard/RoleModal.vue';
import PasswordModal from '@/components/auth/PasswordModal.vue';
import {
  WizardRepository,
  CreatureRepository,
  RoleRepository,
  ReportRepository,
} from '@/repositories';
import { UserRepository } from '@/repositories';
import {
  Wizard,
  User,
  Role,
  Creature,
  CreatureResource,
  CreateWizard,
  UpdateWizard,
  OptionsFooterDataTable,
  UpdateStatusReport,
  UpdatePasswords,
} from '@/types';
import { StatusReportType, UserType } from '@/enums';
import { ErrorWrapper } from '@/services';

export default Vue.extend({
  name: 'Wizard',
  data: () => ({
    search: '',
    dialog: false,
    dialogStatus: false,
    dialogRole: false,
    dialogoPassword: false,
    optionsFooterDataTable: {} as OptionsFooterDataTable,
    isCreate: false,
    headers: [
      {
        text: 'Usuario',
        align: 'start',
        sortable: false,
        value: 'user.username',
      },
      { text: 'Rol', value: 'role.name' },
      { text: 'Criatura', value: 'creature.username' },
      { text: 'Puntaje', value: 'score' },
      { text: 'Estatus', value: 'user.isActive' },
      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    wizards: [] as Array<Wizard>,
    createWizardData: {} as CreateWizard,
    updateWizardData: {} as UpdateWizard,
    updateStatusData: {} as UpdateStatusReport,
    creatures: [] as Array<Creature>,
    roles: [] as Array<Role>,
    wizardIndex: -1,
    wizard: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: true,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: true,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
    defaultWizard: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: true,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: true,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
  }),

  components: {
    WizardModal,
    RoleModal,
    PasswordModal,
  },

  computed: {
    formTitle() {
      return this.wizardIndex === -1 ? 'Registrar Mago' : 'Editar Mago';
    },
    formTitleStatus() {
      return 'Actualizar status';
    },
    formTitleRole() {
      return 'Actualizar Role';
    },
    pageStart() {
      if (this.optionsFooterDataTable.page === 1) {
        return 1;
      } else {
        return (
          this.optionsFooterDataTable.itemsPerPage *
            (this.optionsFooterDataTable.page - 1) +
          1
        );
      }
    },
    pageEnd() {
      if (
        this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage <
        this.wizards.length
      ) {
        return (
          this.optionsFooterDataTable.page *
          this.optionsFooterDataTable.itemsPerPage
        );
      } else {
        return this.wizards.length;
      }
    },
    isAdmin() {
      return this.$store.state.auth.isAdministrator;
    },
    currentUser(): User {
      return this.$store.state.auth.user;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogStatus(val) {
      val || this.close();
    },
    dialogRole(val) {
      val || this.close();
    },
  },

  created() {
    this.getWizards();
    this.getRoles();
    if (this.isAdmin) {
      this.getCreatures();
    }
  },

  methods: {
    async getWizards() {
      const res = await WizardRepository.getAll();
      this.wizards = res.data.data;
      if (this.currentUser.type === UserType.Wizard) {
        this.wizards = this.wizards.filter(
          (wizard: Wizard) => wizard.user.username !== this.currentUser.username
        );
      }
    },

    async getCreatures() {
      const res = await CreatureRepository.getAll();
      this.creatures = res.data.data;
    },

    async getRoles() {
      const res = await RoleRepository.getAll();
      this.roles = res.data.data;
    },

    async createWizard(data: CreateWizard) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await WizardRepository.createData(data);
        this.close();
        this.$swal.fire(
          '¡Registrado!',
          'tu elemento ha sido registrado',
          'success'
        );
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async updateWizard(data: UpdateWizard) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await WizardRepository.UpdateDataById(data);
        this.close();
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.getWizards();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async updateRoleWizard(data: UpdateWizard) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await WizardRepository.UpdateDataById(data);
        this.$swal.fire(
          '¡Actualizado!',
          'tu elemento ha sido actualizado',
          'success'
        );
        this.getWizards();
        this.close();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async saveRoleWizard(data: Wizard) {
      const { id, score } = data;
      const roleId = data.role.id;
      let creatureId;
      if (this.isAdmin) {
        creatureId = data.creature.id;
      } else {
        creatureId = this.$store.state.auth.creature.id;
      }
      this.updateWizardData = { id, roleId, creatureId, score };
      this.updateRoleWizard(this.updateWizardData);
      await this.getWizards();
    },

    async removeWizard(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.removeData(username);
        this.$swal.fire(
          '¡Eliminado!',
          'tu elemento ha sido eliminado',
          'success'
        );
        this.getWizards();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async activWizard(username: string) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.activeData(username);
        this.$swal.fire('¡Reactivado!', 'Mago a sido reactivado', 'success');
        this.getWizards();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async savePassword(data: UpdatePasswords) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await UserRepository.updatePasswords(data);
        this.$swal.fire(
          '¡Actualizado!',
          'La contraseña se ha Actualizado',
          'success'
        );
        this.close();
        this.getWizards();
      } catch (error) {
        let errMessage;
        if (error instanceof ErrorWrapper) {
          const err: ErrorWrapper = error as ErrorWrapper;
          errMessage = this.errorData(err);
        } else {
          console.log(error);
        }
        this.$swal.fire('¡Error!', `${errMessage}`, 'error');
      }
    },

    async save(data: Wizard) {
      const { username, firstName, lastName, email, password } = data.user;
      const { id, score } = data;
      const roleId = data.role.id;
      let creatureId;
      if (this.isAdmin) {
        creatureId = data.creature.id;
      } else {
        creatureId = this.$store.state.auth.creatureId;
      }
      if (this.wizardIndex > -1) {
        this.updateWizardData = { id, roleId, creatureId, score };
        await this.updateWizard(this.updateWizardData);
      } else {
        this.createWizardData = {
          username,
          firstName,
          lastName,
          email,
          password,
          roleId,
          creatureId,
          score,
        };
        await this.createWizard(this.createWizardData);
      }
      await this.getWizards();
    },

    editWizard(wizard: Wizard) {
      this.wizardIndex = this.wizards.indexOf(wizard);
      this.wizard = Object.assign({}, wizard);
      this.dialog = true;
    },

    deleteWizard(wizard: Wizard) {
      this.wizardIndex = this.wizards.indexOf(wizard);
      this.wizard = Object.assign({}, wizard);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Eliminaras este elemento!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.removeWizard(this.wizard.user.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se ha eliminado ningun elemento',
              'error'
            );
          }
        });
    },

    activeWizard(wizard: Wizard) {
      this.wizardIndex = this.wizards.indexOf(wizard);
      this.wizard = Object.assign({}, wizard);
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¡Reactivaras a este Mago!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Activar',
          confirmButtonColor: '#3085d6',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#d33',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.activWizard(this.wizard.user.username);
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire(
              'Cancelado',
              'No se reactivo ningun elemento',
              'error'
            );
          }
        });
    },

    async updateStatus(data: UpdateStatusReport) {
      this.$swal.fire({
        title: 'Procesando petición',
        didOpen: () => {
          this.$swal.showLoading();
        },
      });
      try {
        await ReportRepository.updateStatusData(data);
        this.$swal.fire(
          '¡Actualizado!',
          'Reporte actualizado con exito',
          'success'
        );
        this.getWizards();
        this.close();
      } catch (error) {
        this.$swal.fire('¡Error!', `${error}`, 'error');
      }
      await this.getWizards();
    },

    actuPasswords(wizard: Wizard) {
      this.wizardIndex = this.wizards.indexOf(wizard);
      this.wizard = Object.assign({}, wizard);
      this.dialogoPassword = true;
    },

    statusRole(wizard: Wizard) {
      this.wizardIndex = this.wizards.indexOf(wizard);
      this.wizard = Object.assign({}, wizard);
      this.dialogRole = true;
    },

    getStatusReports(status: StatusReportType): string {
      switch (status) {
        case StatusReportType.Pending:
          return 'Pendiente';
        case StatusReportType.Process:
          return 'Proceso';
        case StatusReportType.Tests:
          return 'Pruebas';
        case StatusReportType.Processed:
          return 'Procesado';
        case StatusReportType.Rejected:
          return 'Rechazado';
        default:
          return '';
      }
    },

    filterOnlyCapsText(value: string, search: string) {
      return (
        value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1
      );
    },

    errorData(err: ErrorWrapper) {
      let message = '';
      if (err) {
        err.errors.map((err) => {
          if (err.key === 'message') {
            message = err.value;
          }
        });
      }
      return message;
    },

    openDialog() {
      this.dialog = true;
      this.isCreate = true;
    },

    close() {
      this.dialog = false;
      this.isCreate = false;
      this.dialogRole = false;
      this.dialogoPassword = false;
      this.wizard = JSON.parse(JSON.stringify(this.defaultWizard));
      this.wizardIndex = -1;
    },

    updateOptions(options: OptionsFooterDataTable) {
      this.optionsFooterDataTable = options;
    },
  },
});
</script>

<style scoped>
.toolbar-title {
  width: 150px;
  height: 60px;
  color: white;
  background-image: linear-gradient(147deg, #4847b5 0%, #8aa39b 74%);
  border-radius: 15px;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
}
.roles:hover {
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
  font-weight: 800;
}
</style>
