<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="reportData.classificationReport"
                  :items="ReportTypeSelect"
                  label="Clasificacion Reporte"
                  :rules="textField"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Report, Item, ClasificationStatusReport } from '@/types';
import { ValidationService } from '@/services';
import { ClassificationReportType } from '@/enums';

export default Vue.extend({
  name: 'ClasificationModal',
  data: () => ({
    dialogData: false,
    ReportTypeSelect: [
      { text: 'Alta', value: ClassificationReportType.Hight },
      { text: 'Media', value: ClassificationReportType.Medium },
      { text: 'Baja', value: ClassificationReportType.Low },
    ] as Array<Item>,
    reportData: {
      classificationReport: ClassificationReportType.Hight,
    } as ClasificationStatusReport,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    report: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    report(val: Report) {
      this.reportData.id = val.id;
      this.reportData.classificationReport = val.classificationReport;
    },
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.reportData);
      }
    },
  },
});
</script>

<style></style>
