<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row> </v-row>
          </v-container>
        </v-card-text>
        <v-col cols="12">
          <v-select
            v-model="reportData.wizard.id"
            :items="wizardsList"
            item-text="user.username"
            item-value="id"
            label="Mago"
            :rules="textField"
          ></v-select>
        </v-col>
        <v-col cols="12">
          <v-menu
            ref="menu1"
            v-model="menu1"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="reportData.endsAt"
                label="Fecha de entrega"
                v-bind="attrs"
                v-on="on"
                :rules="textField"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="reportData.endsAt"
              no-title
              @input="menu1 = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card></v-form
    >
  </v-dialog>
</template>

<script lang="ts">
import { UserType } from '@/enums';
import { ValidationService } from '@/services';
import {
  CreatureResource,
  Role,
  User,
  Wizard,
  Report,
  MissionTaskResource,
  GathererResource,
  CreatureVersionResource,
  WizardResource,
  UpdateWizardReport,
} from '@/types';
import {
  ReportType,
  ClassificationReportType,
  StatusReportType,
} from '@/enums';
import Vue from 'vue';
export default Vue.extend({
  name: 'ReportwizardModal',
  data: () => ({
    dialogData: false,
    menu1: false,
    endsAt: '',
    wizardData: {
      id: '',
      score: 0,
      user: {
        username: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        type: UserType.Wizard,
        isActive: true,
      } as User,
      role: {
        id: 0,
        name: '',
        description: '',
        avatar: '',
        isActive: true,
      } as Role,
      creature: {
        id: 0,
        description: '',
        life: 0,
        avatar: '',
        username: '',
      } as CreatureResource,
    } as Wizard,
    reportData: {
      id: '',
      type: ReportType.None,
      description: '',
      image: '',
      endsAt: '',
      classificationReport: ClassificationReportType.None,
      status: StatusReportType.Pending,
      collector: {
        id: 0,
        avatar: '',
        score: 0,
        stars: 0,
        username: '',
      } as GathererResource,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      subMission: {
        id: 0,
        missionId: 0,
        name: '',
        description: '',
        isActive: false,
      } as MissionTaskResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as Report,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    report: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
    wizardsList: {
      default: Array as () => Array<Wizard>,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (!val) {
        this.clearData();
      }
    },

    wizard(val: Wizard) {
      this.wizardData = val;
    },
    report(val: Report) {
      this.reportData = val;
      if (val.wizard?.id === null) {
        this.reportData.wizard = {
          id: '',
          score: 0,
          username: '',
          roleId: 0,
          creatureId: 0,
        } as WizardResource;
      }
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    close() {
      this.$emit('close');
      this.clearData();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', {
          id: this.reportData.id,
          wizardId: this.reportData.wizard.id,
          endsAt: this.reportData.endsAt,
        } as UpdateWizardReport);
      }
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
    clearData() {
      this.endsAt = '';
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
  },
});
</script>

<style></style>
