<template v-slot:top>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="reportData.description"
                  label="Descripción"
                  :rules="textField"
                  :disabled="!isSupremo"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-select
                  v-model="reportData.type"
                  :items="reportTypeSelect"
                  label="Tipo"
                  :rules="textField"
                  :disabled="!isSupremo"
                ></v-select>
              </v-col>
              <v-col cols="6">
                <v-select
                  v-model="reportData.classificationReport"
                  :items="classificationReportTypeSelect"
                  label="Clasificación"
                  :disabled="!isSupremo"
                ></v-select>
              </v-col>
              <v-col cols="6">
                <v-select
                  v-model="reportData.collector.id"
                  :items="gatherersList"
                  item-text="user.username"
                  item-value="id"
                  label="Recolector"
                  :rules="textField"
                  :disabled="!isSupremo"
                ></v-select>
              </v-col>
              <v-col cols="6">
                <v-select
                  v-model="reportData.wizard.id"
                  :items="wizardsList"
                  item-text="user.username"
                  item-value="id"
                  label="Mago"
                  :disabled="!isSupremo"
                ></v-select>
              </v-col>
              <v-col cols="6" v-if="isAdmin">
                <v-select
                  :items="creaturesList"
                  item-text="user.username"
                  return-object
                  label="Criatura"
                  :disabled="!isSupremo"
                  @change="updateCreature"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="reportData.creatureVersion.id"
                  :items="creaturesVersionsSelectForCreature"
                  item-text="name"
                  item-value="id"
                  label="Version de la Criatura"
                  :rules="textField"
                  :disabled="!isSupremo"
                  @change="updateCreatureVersion"
                ></v-select>
              </v-col>
              <v-col cols="6">
                <v-select
                  v-model="missionId"
                  :items="missionsSelectForcreaturesVersions"
                  item-text="name"
                  item-value="id"
                  label="Misión"
                  :disabled="!isSupremo"
                  @change="updateMission"
                ></v-select>
              </v-col>
              <v-col cols="6">
                <v-select
                  v-model="reportData.subMission.id"
                  :items="missionsTaskSelectForMissions"
                  item-text="name"
                  item-value="id"
                  label="Sub Misión"
                  :disabled="!isSupremo"
                  :rules="textField"
                ></v-select>
              </v-col>
              <v-col cols="6" v-if="!isCreate">
                <v-text-field
                  v-model="reportData.assignedAt"
                  label="Asignado"
                  readonly
                  :disabled="!isSupremo"
                ></v-text-field>
              </v-col>
              <v-col cols="6" v-if="!isCreate">
                <v-text-field
                  v-model="reportData.endsAt"
                  label="Entrega"
                  readonly
                  :disabled="!isSupremo"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="!isCreate">
                <v-text-field
                  :value="points"
                  label="Puntaje"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-img v-if="reportData.image" :src="reportData.image"></v-img>
                <v-file-input
                  prepend-icon="mdi-camera"
                  label="Imagen"
                  accept="image/*"
                  :disabled="!isSupremo"
                  @change="onFileSelected"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import {
  Report,
  MissionTaskResource,
  GathererResource,
  CreatureVersionResource,
  WizardResource,
  Wizard,
  Gatherer,
  Mission,
  CreatureVersion,
  Creature,
  Item,
  MissionTask,
} from '@/types';
import {
  ReportType,
  ClassificationReportType,
  StatusReportType,
} from '@/enums';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'ReportModal',
  data: () => ({
    dialogData: false,
    endsAt: '',
    menu1: false,
    menu2: false,
    creaturesVersionsSelectForCreature: [] as Array<CreatureVersion>,
    missionsSelectForcreaturesVersions: [] as Array<Mission>,
    missionsTaskSelectForMissions: [] as Array<MissionTask>,
    reportTypeSelect: [
      { text: 'Mejora', value: ReportType.GetBetter },
      { text: 'Error', value: ReportType.Error },
    ] as Array<Item>,
    classificationReportTypeSelect: [
      { text: 'Bajo', value: ClassificationReportType.Low },
      { text: 'Medio', value: ClassificationReportType.Medium },
      { text: 'Alto', value: ClassificationReportType.Hight },
    ] as Array<Item>,
    statusReportTypeSelect: [
      { text: 'Pendiente', value: StatusReportType.Pending },
      { text: 'Proceso', value: StatusReportType.Process },
      { text: 'Pruebas', value: StatusReportType.Tests },
      { text: 'Procesado', value: StatusReportType.Processed },
    ] as Array<Item>,
    missionId: 0,
    reportData: {
      id: '',
      type: ReportType.None,
      description: '',
      image: '',
      endsAt: '',
      classificationReport: ClassificationReportType.None,
      status: StatusReportType.Pending,
      collector: {
        id: 0,
        avatar: '',
        score: 0,
        stars: 0,
        username: '',
      } as GathererResource,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      subMission: {
        id: 0,
        missionId: 0,
        name: '',
        description: '',
        isActive: false,
      } as MissionTaskResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as Report,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    report: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    isSupremo: {
      type: Boolean,
      default: false,
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
    missionsList: {
      default: Array as () => Array<Mission>,
    },
    missionsTaskList: {
      default: Array as () => Array<MissionTask>,
    },
    creaturesVersionsList: {
      default: Array as () => Array<CreatureVersion>,
    },
    wizardsList: {
      default: Array as () => Array<Wizard>,
    },
    gatherersList: {
      default: Array as () => Array<Gatherer>,
    },
    creaturesList: {
      default: Array as () => Array<Creature>,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    points() {
      switch (this.reportData.classificationReport) {
        case ClassificationReportType.None:
          return 0;
        case ClassificationReportType.Low:
          return 20;
        case ClassificationReportType.Medium:
          return 30;
        case ClassificationReportType.Hight:
          return 40;
        default:
          return 0;
      }
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (this.isCreate) {
        this.missionsSelectForcreaturesVersions = [];
        this.reportData.type = ReportType.None;
        this.missionId = 0;
        this.reportData.classificationReport = ClassificationReportType.None;
      }
      if (this.isAdmin) {
        this.creaturesVersionsSelectForCreature = [];
      } else {
        this.creaturesVersionsSelectForCreature = this.creaturesVersionsList;
      }
    },
    report(val: Report) {
      this.reportData = val;
      if (val.wizard?.id === undefined) {
        this.reportData.wizard = {
          id: '',
          score: 0,
          username: '',
          roleId: 0,
          creatureId: 0,
        } as WizardResource;
      }
      if (val.assignedAt === null) {
        val.assignedAt = '';
      }
      if (val.subMission?.id === undefined) {
        this.reportData.subMission = {
          id: 0,
          missionId: 0,
          name: '',
          description: '',
          isActive: false,
        } as MissionTaskResource;
      }
      if (val.creatureVersion?.id) {
        this.updateCreatureVersion(val.creatureVersion?.id);
      }
      if (val.subMission?.id) {
        this.updateMission(val.subMission?.missionId);
        this.missionId = val.subMission?.missionId;
      }
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    updateCreature(creature: Creature) {
      this.creaturesVersionsSelectForCreature = [];
      this.creaturesVersionsList.map((creatureVersion) => {
        if ((creatureVersion as CreatureVersion).creature.id === creature.id) {
          this.creaturesVersionsSelectForCreature.push(
            creatureVersion as CreatureVersion
          );
        }
      });
    },
    updateCreatureVersion(creatureVersionId: number) {
      this.missionsSelectForcreaturesVersions = [];
      this.missionsTaskSelectForMissions = [];
      this.missionsList.map((mission) => {
        if ((mission as Mission).creatureVersion.id === creatureVersionId) {
          this.missionsSelectForcreaturesVersions.push(mission as Mission);
        }
      });
    },
    updateMission(missionId: number) {
      this.missionsTaskSelectForMissions = [];
      this.missionsTaskList.map((missionTask) => {
        if ((missionTask as MissionTask).mission.id === missionId) {
          this.missionsTaskSelectForMissions.push(missionTask as MissionTask);
        }
      });
    },
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.reportData);
        (this.$refs.form as HTMLFormElement).resetValidation();
      }
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
  },
});
</script>
