<template v-slot:top>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="reportData.status"
                  :items="statusReportTypeSelect"
                  label="Estatus"
                  :rules="textField"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="solution"
                  label="Solución"
                  :disabled="!isSolution"
                  :error="errorField"
                  :error-messages="errorMessage"
                  clear-icon="mdi-close-circle"
                  @input="upateField"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Report, Item, UpdateStatusReport } from '@/types';
import { StatusReportType } from '@/enums';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'StatusModal',

  data: () => ({
    dialogData: false,
    solution: '',
    errorMessage: '',
    errorField: false,
    statusReportTypeSelect: [
      { text: 'Pendiente', value: StatusReportType.Pending },
      { text: 'Proceso', value: StatusReportType.Process },
      { text: 'Pruebas', value: StatusReportType.Tests },
      { text: 'Procesado', value: StatusReportType.Processed },
    ] as Array<Item>,
    reportData: {
      status: StatusReportType.Pending,
    } as UpdateStatusReport,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    report: {
      type: Object,
    },
    isSupremo: {
      type: Boolean,
      default: false,
    },
    formTitle: {
      type: String,
      default: '',
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    isSolution() {
      return this.reportData.status === StatusReportType.Tests;
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (!this.isSupremo) {
        this.statusReportTypeSelect = [
          { text: 'Pendiente', value: StatusReportType.Pending },
          { text: 'Proceso', value: StatusReportType.Process },
          { text: 'Pruebas', value: StatusReportType.Tests },
        ] as Array<Item>;
      }
    },
    report(val: Report) {
      this.reportData.id = val.id;
      this.reportData.status = val.status;
      this.solution = val.solution;
    },
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        if (
          this.isSolution &&
          (this.solution === '' || this.solution === null)
        ) {
          this.errorField = true;
          this.errorMessage = 'Debe escribir una solución';
        } else {
          this.reportData.solution = this.solution;
          this.$emit('save', this.reportData);
          this.solution = '';
        }
      }
    },
    upateField(solution: string) {
      this.errorField = false;
      this.errorMessage = '';
      if (solution === '') {
        this.errorField = true;
        this.errorMessage = 'Debe escribir una solución';
      }
    },
  },
});
</script>
