<template v-slot:top>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitleReject }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="reportRejectData.description"
                  label="Descripción"
                  :rules="textField"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { ReportRejected, ReportResource, WizardResource } from '@/types';

import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'ReportRejectedModal',

  data: () => ({
    dialogData: false,
    reportRejectData: {
      id: '',
      description: '',
      report: {
        id: '',
        description: '',
      } as ReportResource,
      wizard: {
        id: '',
        score: 0,
        username: '',
        roleId: 0,
        creatureId: 0,
      } as WizardResource,
    } as ReportRejected,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    reportR: {
      type: Object,
    },
    formTitleReject: {
      type: String,
      default: '',
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (!val) {
        this.clearData();
      }
    },
    reportR(val: ReportRejected) {
      this.reportRejectData = val;
    },
  },
  methods: {
    close() {
      this.$emit('close');
      this.clearData();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.reportRejectData);
      }
    },
    clearData() {
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
  },
});
</script>
