<template>
  <v-card class="pa-3">
    <span class="text-subtitle-1 text-sm-h5 font-weight-regular"
      >Geolocalización de reportes</span
    >
    <v-card width="100%" height="500px">
      <MglMap
        :accessToken="accessToken"
        :mapStyle.sync="mapStyle"
        :center="coordinates"
        ><div v-for="(report, index) in reports" :key="index">
          <MglMarker
            v-if="report.geolocation"
            :coordinates="getCoordinates(report)"
            color="#4847b5"
          />
        </div>
      </MglMap>
    </v-card>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { MglMap, MglMarker } from 'vue-mapbox';
import { Report } from '@/types';

export default Vue.extend({
  name: 'MapBoxGeo',
  data: () => ({
    accessToken: process.env.VUE_APP_MAP_BOX_ACCESS_TOKEN, // your access token. Needed if you using Mapbox maps
    mapStyle: 'mapbox://styles/mapbox/streets-v11', // your map style
    coordinates: [0, 0],
  }),
  components: { MglMap, MglMarker },
  props: {
    reports: {
      type: Array as () => Array<Report>,
      default: () => [],
    },
  },
  methods: {
    getCoordinates(report: Report): Array<number> | null {
      return [report.geolocation.ll[1], report.geolocation.ll[0]];
    },
  },
});
</script>
