<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="missionData.name"
                  label="Nombre"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="missionData.description"
                  label="Descripción"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col v-if="isAdmin && isCreate" cols="12">
                <v-select
                  :items="creaturesList"
                  item-text="user.username"
                  return-object
                  label="Criatura"
                  :rules="textField"
                  @change="updateCreature"
                ></v-select>
              </v-col>
              <v-col v-if="isAdmin && isCreate" cols="12">
                <v-select
                  v-model="missionData.creatureVersion.id"
                  :items="creaturesVersionsSelectForCreature"
                  item-text="name"
                  item-value="id"
                  label="Version de la Criatura"
                  :rules="textField"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import {
  Mission,
  Creature,
  CreatureVersion,
  CreatureVersionResource,
} from '@/types';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'MissionUserModal',

  data: () => ({
    dialogData: false,
    creaturesVersionsSelectForCreature: [] as Array<CreatureVersion>,
    missionData: {
      id: 0,
      creatureVersion: {
        id: 0,
        name: '',
        url: '',
        isActive: false,
        creatureId: 0,
      } as CreatureVersionResource,
      name: '',
      description: '',
      isActive: true,
    } as Mission,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    mission: {
      type: Object,
    },
    formTitle: {
      type: String,
      default: '',
    },
    isCreate: {
      type: Boolean,
      default: false,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    creaturesList: {
      default: Array as () => Array<Creature>,
    },
    creaturesVersionsList: {
      default: [],
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (this.isAdmin) {
        this.creaturesVersionsSelectForCreature = [];
      } else {
        this.creaturesVersionsSelectForCreature = this.creaturesVersionsList;
      }
    },
    mission(val: Mission) {
      this.missionData = val;
    },
  },
  updated() {
    (this.$refs.form as HTMLFormElement)?.resetValidation();
  },
  methods: {
    updateCreature(creature: Creature) {
      this.creaturesVersionsSelectForCreature = [];
      this.creaturesVersionsList.map((cv) => {
        if ((cv as CreatureVersion).creature.id === creature.id) {
          this.creaturesVersionsSelectForCreature.push(cv as CreatureVersion);
        }
      });
    },
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.missionData);
      }
    },
  },
});
</script>
