<template>
  <v-dialog v-model="dialogData" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="roleData.name"
                  label="Nombre"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="roleData.description"
                  label="Descripción"
                  :rules="textField"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-img v-if="roleData.avatar" :src="roleData.avatar"></v-img>
                <v-file-input
                  prepend-icon="mdi-camera"
                  label="Avatar"
                  accept="image/*"
                  @change="onFileSelected"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { ValidationService } from '@/services';
import { Role } from '@/types';
export default Vue.extend({
  name: 'RoleModal',
  data: () => ({
    dialogData: false,
    isPassword: true,
    roleData: {
      id: 0,
      name: '',
      description: '',
      avatar: '',
      isActive: true,
    } as Role,
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    role: {
      type: Object,
      default: {} as Role,
    },
    formTitle: {
      type: String,
      default: '',
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
    },
    role(val: Role) {
      this.roleData = val;
    },
  },
  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.roleData);
      }
    },
    onFileSelected(event: Event) {
      this.$emit('file', event);
    },
  },
});
</script>
