<template>
  <v-container>
    <v-row>
      <v-col d-flex cols="12">
        <div class="text-center">
          <h2
            class="text-subtitle-1 font-weight-bold text-sm-h6 text-lg-h4 dashboard-title primary"
          >
            Bienvenido criatura
          </h2>
        </div>
        <v-row>
          <v-col cols="12" md="6">
            <v-card class="card-dash pa-4 d-block">
              <v-card class="bg-rosa py-3">
                <p class="text-center text-h3 text-sm-h2 white--text">
                  {{ getSupremo }}
                </p>
              </v-card>
              <div class="py-3">
                <h2
                  class="text-center text-subtitle-1 text-sm-h5 font-weight-regular"
                >
                  Cantidad de Magos Supremos
                </h2>
              </div>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="card-dash pa-4 d-block">
              <v-card class="bg-azul py-3">
                <p class="text-center text-h3 text-sm-h2 white--text">
                  {{ dashCreature.delayeds }}
                </p>
              </v-card>

              <div class="py-3">
                <h2
                  class="text-center text-subtitle-1 text-sm-h5 font-weight-regular"
                >
                  Retrasos en Entrega
                </h2>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col d-flex cols="12">
        <v-row>
          <v-col cols="12" md="6">
            <v-card class="pa-3">
              <h2
                class="text-center text-subtitle-1 text-sm-h5 font-weight-regular"
              >
                Mejoras vs Errores
              </h2>
              <charts-wizard :datos="serieErrorMejora" />
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="pa-3">
              <h2
                class="text-center text-subtitle-1 text-sm-h5 font-weight-regular"
              >
                Cantidad de magos por tipo
              </h2>
              <charts-report :datos="serieMagos" />
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import ChartsReport from '@/components/charts/ChartsReport.vue';
import ChartsWizard from '@/components/charts/ChartsWizard.vue';
import { Rol } from '@/types';

export default Vue.extend({
  name: 'DashboardCreature',
  components: { ChartsReport, ChartsWizard },
  props: {
    dashCreature: {
      type: Object,
    },
  },
  computed: {
    getSupremo(): number {
      const rolSupremo: Rol = this.dashCreature.roles?.find(
        (rol: Rol) => rol.id === 1
      );
      return rolSupremo === undefined ? 0 : Number(rolSupremo.wizardCount);
    },
    getMagoAprendiz(): number {
      const rolMagoAorendiz: Rol = this.dashCreature.roles?.find(
        (rol: Rol) => rol.id === 4
      );
      return rolMagoAorendiz === undefined
        ? 0
        : Number(rolMagoAorendiz.wizardCount);
    },
    getMagoArchisabio(): number {
      const rolMagoArchisabio: Rol = this.dashCreature.roles?.find(
        (rol: Rol) => rol.id === 2
      );
      return rolMagoArchisabio === undefined
        ? 0
        : Number(rolMagoArchisabio.wizardCount);
    },
    getMago(): number {
      const rolMago: Rol = this.dashCreature.roles?.find(
        (rol: Rol) => rol.id === 3
      );
      return rolMago === undefined ? 0 : Number(rolMago.wizardCount);
    },
    serieMagos(): Array<number> {
      return [
        this.getMagoAprendiz,
        this.getMagoArchisabio,
        this.getSupremo,
        this.getMago,
      ];
    },
    serieErrorMejora(): Array<{ data: Array<number> }> {
      return [
        { data: [this.dashCreature.errors, this.dashCreature.improvements] },
      ];
    },
  },
});
</script>

<style scoped>
.nueva {
  font-size: 3.5rem;
  color: white;
  transform: translateY(-28px);
  font-weight: 500;
  line-height: 2;
  margin-bottom: -10px;
  border-radius: 4px;
}
.bg-verde {
  background-color: #4caf50;
}
.bg-rosa {
  background-color: #e91e63;
}
.bg-azul {
  background-color: #00cae3 !important;
  border-color: #00cae3 !important;
}
.h2-title {
  color: #333;
  font-weight: 300;
}
.dashboard-title {
  color: white;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 25px;
  text-transform: uppercase;
  border-radius: 4px;
}
</style>
