<template>
  <v-card color="white" min-height="500" class="rounded-0 elevation-0 mt-sm-8">
    <v-form ref="form" class="content-relative">
      <v-card
        width="150"
        height="150"
        class="d-none rounded-circle d-sm-flex justify-center align-center mx-auto"
      >
        <v-img
          class="mx-auto"
          width="100"
          height="100"
          :src="require('@/assets/mago.png')"
        />
      </v-card>
      <v-img
        class="mx-auto d-sm-none"
        width="120"
        height="120"
        :src="require('@/assets/mago.png')"
      />
      <v-container>
        <v-row class="justify-center">
          <v-col cols="11" class="text-center text-h4 font-weight-bold">
            <span class="primary--text">AGATHA</span>
          </v-col>
          <v-col cols="8" class="text-center text-h5 font-weight-bold">
            <span class="primary--text">Recupera tu cuenta</span>
          </v-col>
          <v-col cols="11">
            <v-text-field
              v-model="restartPassword.email"
              label="Email"
              filled
              :rules="textField"
            ></v-text-field>
          </v-col>
          <v-col cols="6">
            <h6>
              <span> Ingresa a tu cuenta </span>
              <router-link color="primary" to="/"> Inicia Sesion</router-link>
            </h6>
          </v-col>
          <v-col cols="11">
            <v-btn color="secondary" block @click="envi"> Enviar </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { RestartPassword } from '@/types';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'ForgotPasswordForm',

  data: () => ({
    restartPassword: { email: '' } as RestartPassword,
  }),
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField, ValidationService.emailField];
    },
  },
  methods: {
    envi() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('save', this.restartPassword);
      }
    },
  },
});
</script>
<style scoped>
.content-relative {
  height: 100vh;
}
@media screen and (min-width: 600px) {
  .content-relative {
    position: relative;
    bottom: 50px;
  }
}
</style>
