<template>
  <v-card color="white" min-height="500" class="rounded-0 elevation-0 mt-sm-8">
    <v-form ref="form" class="content-relative">
      <v-card
        width="150"
        height="150"
        class="d-none rounded-circle d-sm-flex justify-center align-center mx-auto"
      >
        <v-img
          class="mx-auto"
          width="100"
          height="100"
          :src="require('@/assets/mago.png')"
        />
      </v-card>
      <v-img
        class="mx-auto d-sm-none"
        width="120"
        height="120"
        :src="require('@/assets/mago.png')"
      />
      <v-container>
        <v-row class="justify-center">
          <v-col cols="11" class="text-center text-h4 font-weight-bold">
            <span class="primary--text">AGATHA</span>
          </v-col>
          <v-col cols="11">
            <v-text-field
              v-model="login.username"
              label="Nombre de usuario"
              filled
              :rules="textField"
            ></v-text-field>
          </v-col>
          <v-col cols="11">
            <v-text-field
              v-model="login.password"
              :append-icon="iconPassword"
              :rules="textField"
              :type="typePassword"
              label="Contraseña"
              filled
              @click:append="showPassword"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="text-center">
            <h6>
              ¿Olvidaste tu Contraseña?
              <router-link color="primary" to="/forgot"
                >Obtén ayuda
              </router-link>
            </h6>
          </v-col>

          <v-col cols="11">
            <v-btn color="primary" block @click="validationsForm">
              Iniciar sesión</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-overlay :value="loading" color="primary">
      <div class="d-flex">
        <v-progress-circular
          indeterminate
          size="70"
          width="7"
          color="white"
        ></v-progress-circular>
      </div>
    </v-overlay>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { Login } from '@/types';
import { ValidationService } from '@/services';

export default Vue.extend({
  name: 'LoginForm',

  data: () => ({
    dialog: false,
    login: {} as Login,
    isPassword: true,
  }),
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
    isDevelopment() {
      return process.env.NODE_ENV === 'development';
    },
  },
  methods: {
    showPassword() {
      this.isPassword = !this.isPassword;
    },
    validationsForm() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.$emit('login', this.login);
      }
    },
  },
});
</script>
<style scoped>
.content-relative {
  height: 100vh;
}
@media screen and (min-width: 600px) {
  .content-relative {
    position: relative;
    bottom: 50px;
  }
}
</style>
