<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-form ref="form">
      <v-card>
        <v-card-title>
          <span class="headline ml-2">Actualizar Contraseña</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="updatePasswords.password"
                  :append-icon="iconPassword"
                  :rules="passwordField"
                  :type="typePassword"
                  label="Contraseña"
                  hint="Debe tener 8 o más carácteres"
                  counter
                  @click:append="showPassword"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-col cols="6">
            <v-btn block dark color="red" @click="close">Cancelar</v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn block color="secondary" @click="save">Aceptar</v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script lang="ts">
import { UpdatePasswords } from '@/types';
import { ValidationService } from '@/services';
import Vue from 'vue';

export default Vue.extend({
  name: 'PasswordModal',
  data: () => ({
    updatePasswords: {} as UpdatePasswords,
    isPassword: true,
    dialogData: false,
  }),

  props: {
    dialog: {
      type: Boolean,
    },
    username: {
      type: String,
    },
  },
  computed: {
    textField() {
      return [ValidationService.requiredField];
    },
    emailField() {
      return [ValidationService.emailField];
    },
    passwordField() {
      return [ValidationService.requiredField, ValidationService.passwordField];
    },
    typePassword() {
      if (this.isPassword) {
        return 'password';
      }
      return 'text';
    },
    iconPassword() {
      if (this.isPassword) {
        return 'mdi-eye-off';
      }
      return 'mdi-eye';
    },
  },
  watch: {
    dialog(val: boolean) {
      this.dialogData = val;
      if (!val) {
        (this.$refs.form as HTMLFormElement).resetValidation();
      }
    },
  },

  methods: {
    close() {
      this.$emit('close');
      (this.$refs.form as HTMLFormElement).resetValidation();
    },
    save() {
      if ((this.$refs.form as HTMLFormElement).validate()) {
        this.updatePasswords.uername = this.username;
        this.$emit('save', this.updatePasswords);
        (this.$refs.form as HTMLFormElement).reset();
      }
    },
    showPassword() {
      this.isPassword = !this.isPassword;
    },
  },
});
</script>
