<template>
  <v-app-bar color="gray2" app class="v-bar--underline" height="70" flat>
    <v-app-bar-nav-icon
      class="hidden-lg-and-up"
      @click="updateDrawer"
    ></v-app-bar-nav-icon>
    <v-btn
      class="hidden-md-and-down ml-3 mr-4"
      color="white"
      elevation="2"
      fab
      small
      @click="updateMini"
    >
      <v-icon> {{ iconDrawer }} </v-icon>
    </v-btn>

    <v-toolbar-title>Agatha | Web</v-toolbar-title>
    <v-spacer />
    <v-btn class="ml-2" min-width="0" text to="/dashboard" exact>
      <v-icon>mdi-view-dashboard</v-icon>
    </v-btn>
    <v-menu
      bottom
      left
      min-width="200"
      offset-y
      origin="top right"
      transition="scale-transition"
    >
      <template v-slot:activator="{ attrs, on }">
        <v-btn class="ml-2" min-width="0" text v-bind="attrs" v-on="on">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>
      <v-list dense>
        <v-list-item-group color="primary">
          <v-list-item to="/profile">
            <v-list-item-content>
              <v-list-item-title>Perfil</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-content>
              <v-list-item-title>Cerrar sesión</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DefaultBar',
  data: () => ({}),
  computed: {
    drawer() {
      return this.$store.state.drawer;
    },
    mini() {
      return this.$store.state.mini;
    },
    iconDrawer() {
      if (this.mini) {
        return 'mdi-format-list-bulleted';
      }
      return 'mdi-dots-vertical';
    },
  },
  methods: {
    updateDrawer() {
      this.$store.dispatch('updateDrawer', true);
    },
    updateMini() {
      this.$store.dispatch('updateMini');
    },
    logout() {
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¿Deseas cerrar sesión?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Cerrar sesión',
          confirmButtonColor: '#4847b5',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#5D6D7E ',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.$store.dispatch('auth/logout');
            this.$router.push('/');
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire('Cancelado', 'No se ha cerrado sesion', 'error');
          }
        });
    },
  },
});
</script>
