<template>
  <v-navigation-drawer
    v-model="drawerData"
    app
    dark
    color="gray1"
    :mini-variant="mini"
    @input="updateDrawer"
  >
    <div class="px-2">
      <v-list-item class="mb-0 px-0 justify-space-between">
        <v-list-item-avatar>
          <v-img :src="require('@/assets/mago.png')" />
        </v-list-item-avatar>

        <v-list-item-content class="pl-2">
          <v-list-item-title class="text-h4">
            <strong class="mr-1 font-weight-black">AGATHA</strong>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mx-3 mb-2" />
      <side-user v-if="isAdmin()" />
      <side-creature v-if="isCreature()" />
      <side-wizard v-if="isWizard() && isWizardRol()" />
      <side-wizard-beginner v-else-if="isWizard()" />
    </div>
    <template #append>
      <div class="pa-3 text-center">
        <v-btn v-if="!mini" class="px-1" block color="primary" @click="logout">
          <v-icon left> mdi-logout </v-icon>
          cerrar sesión
        </v-btn>
        <v-btn v-else icon color="white" @click="logout">
          <v-icon>mdi-logout</v-icon>
        </v-btn>
        <div class="pt-12" />
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue';
import { UserType } from '@/enums';
import SideUser from '@/layouts/default/SideUser.vue';
import SideCreature from '@/layouts/default/SideCreature.vue';
import SideWizard from '@/layouts/default/SideWizar.vue';
import SideWizardBeginner from '@/layouts/default/SideWizardBeginner.vue';
export default Vue.extend({
  name: 'DefaultDrawer',
  components: { SideUser, SideCreature, SideWizard, SideWizardBeginner },
  data: () => ({
    drawerData: true,
  }),
  computed: {
    drawer() {
      return this.$store.state.drawer;
    },
    mini() {
      return this.$store.state.mini;
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    currentWizard() {
      return this.$store.state.auth.wizard;
    },
  },
  watch: {
    drawer(val: boolean) {
      this.drawerData = val;
    },
  },
  methods: {
    logout() {
      this.$swal
        .fire({
          title: '¿Estas seguro?',
          text: '¿Deseas cerrar sesión?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Cerrar sesión',
          confirmButtonColor: '#4847b5',
          cancelButtonText: 'Cancelar',
          cancelButtonColor: '#5D6D7E ',
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.$store.dispatch('auth/logout');
            this.$router.push('/');
          } else if (result.dismiss === this.$swal.DismissReason.cancel) {
            this.$swal.fire('Cancelado', 'No se ha cerrado sesion', 'error');
          }
        });
    },
    updateDrawer(val: boolean) {
      this.$store.dispatch('updateDrawer', val);
    },
    isAdmin(): boolean {
      return this.currentUser.type === UserType.Administrator;
    },
    isCreature(): boolean {
      return this.currentUser.type === UserType.Creature;
    },
    isWizard(): boolean {
      return this.currentUser.type === UserType.Wizard;
    },
    isWizardRol(): boolean {
      return this.currentWizard.role?.name === 'Supremo';
    },
  },
});
</script>
