<template>
  <v-footer color="gray2" padless>
    <v-col class="text-center d-flex align-center justify-center" cols="12">
      <span class="mt-3">{{ year }} —</span>
      <v-img
        max-height="60"
        max-width="200"
        :src="require('@/assets/AgathaHeader.png')"
      />
    </v-col>
  </v-footer>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DefaultFooter',
  computed: {
    year() {
      return new Date().getFullYear();
    },
  },
});
</script>
