<template>
  <v-list>
    <v-list-item-group>
      <div v-for="(item, index) of items" :key="index">
        <v-list-item
          :href="item.to"
          :to="item.to"
          active-class="primary white--text"
          link
          class="py-1 px-2"
        >
          <v-list-item-icon v-if="item.icon" class="my-2 align-self-center">
            <v-icon v-text="item.icon" />
          </v-list-item-icon>

          <v-list-item-content v-if="item.title">
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-list-item-group>
  </v-list>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'SideUser',
  data: () => ({
    items: [
      {
        icon: 'mdi-view-dashboard',
        title: 'Dashboard',
        to: '/dashboard',
      },
      {
        icon: 'mdi-account-circle',
        title: 'Administradores',
        to: '/user/admin',
      },

      {
        icon: 'mdi-wizard-hat',
        title: 'Magos',
        to: '/user/wizard',
      },
      {
        icon: 'mdi-account',
        title: 'Recolectores',
        to: '/user/gatherer',
      },
      {
        icon: 'mdi-cat',
        title: 'Criaturas',
        to: '/user/creature',
      },
      {
        icon: 'mdi-account-group',
        title: 'Roles',
        to: '/role',
      },
      {
        icon: 'mdi-shape',
        title: 'Categorias',
        to: '/category',
      },
      {
        icon: 'mdi-account-details',
        title: 'Perfil',
        to: '/profile',
      },
    ],
  }),
});
</script>
