<template>
  <v-list>
    <v-list-item-group>
      <div v-for="(item, index) of items" :key="index">
        <v-list-item
          :href="item.to"
          :to="item.to"
          active-class="primary white--text"
          link
          class="py-1 px-2"
        >
          <v-list-item-icon v-if="item.icon" class="my-2 align-self-center">
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
          <v-list-item-content v-if="item.title">
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-list-item-group>
  </v-list>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'SideCreature',
  data: () => ({
    items: [
      {
        icon: 'mdi-view-dashboard',
        title: 'Dashboard',
        to: '/dashboard',
      },
      {
        icon: 'mdi-bee-flower',
        title: 'Versiones',
        to: '/creature-version',
      },
      {
        icon: 'mdi-wizard-hat',
        title: 'Magos',
        to: '/user/wizard',
      },
      {
        icon: 'mdi-castle',
        title: 'Misiones',
        to: '/mission',
      },
      {
        icon: 'mdi-format-list-numbered',
        title: 'Ranking Magos',
        to: '/boardwizard',
      },
      {
        icon: 'mdi-account-details',
        title: 'Profile',
        to: '/profile',
      },
    ],
  }),
});
</script>
